n8n-workflow/Signal_workflow_11925.json
{
  "name": "Signal",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        640
      ],
      "id": "396af7fe-69e2-40a7-9377-af647bdee8fe",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "=https://api.youscan.io/api/external/topics/{{$json.id}}/mentions",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "bf58218c4bc34b11"
            },
            {
              "name": "size",
              "value": "1000"
            },
            {
              "name": "sinceSeq",
              "value": "={{ $json.max_seq }}"
            },
            {
              "name": "from",
              "value": "2000-01-01"
            },
            {
              "name": "sourceTypes",
              "value": "social"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        512
      ],
      "id": "5c157d85-6528-4ba4-8ac8-cdecfefd7a73",
      "name": "YouScan API Call",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fieldToSplitOut": "mentions",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        480,
        512
      ],
      "id": "727c01f2-5c1b-4825-bafd-542f29780a94",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a2fb4a9-6e3e-44da-a1ed-20da4e369c37",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "a9254677-579b-4aa0-a935-cfb6e2d3f5e3",
              "name": "source_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "6d696efd-85af-4d71-91c8-8bdc61178199",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "9f84d5f5-47d8-4713-852e-af1e64039132",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "0e770bd5-327d-4406-ade2-5de32ce6fb93",
              "name": "author.id",
              "value": "={{ $json.author.id ?? $json.author.profileId }}",
              "type": "string"
            },
            {
              "id": "c2f74fce-780f-4e4e-8ab5-96bae1ee8e8d",
              "name": "author.name",
              "value": "={{ $json.author.name }}",
              "type": "string"
            },
            {
              "id": "300d65e6-859e-4b02-bafc-239d45cf7256",
              "name": "author.handle",
              "value": "={{ $json.author.nickname }}",
              "type": "string"
            },
            {
              "id": "a31f0da0-015a-49a5-ad98-1f8a0d695601",
              "name": "author.gender",
              "value": "={{ $json.author.gender }}",
              "type": "string"
            },
            {
              "id": "2c7f1ea0-88a7-4249-80fe-cdd223567be4",
              "name": "author.age",
              "value": "={{ $json.author.age }}",
              "type": "string"
            },
            {
              "id": "ff5c3053-9ce1-4e7e-8058-f4de96e9d131",
              "name": "=author.subscribers",
              "value": "={{ $json.author.subscribers }}",
              "type": "string"
            },
            {
              "id": "d131b117-afa2-4c24-87aa-c16fb28f8f43",
              "name": "country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "78062651-6ebf-453c-8574-7680b8eeb1ef",
              "name": "language",
              "value": "={{ $json.language }}",
              "type": "string"
            },
            {
              "id": "8fce8197-4b09-4705-a051-ddda58dab1fe",
              "name": "metrics.likes",
              "value": "={{ $json.engagement.likes }}",
              "type": "string"
            },
            {
              "id": "1df263bb-39a8-4159-9bd8-a269616f58c9",
              "name": "metrics.comments",
              "value": "={{ $json.engagement.comments }}",
              "type": "string"
            },
            {
              "id": "0c4fe1f6-2473-4bb9-9a5a-f2ec7dce6304",
              "name": "metrics.shares",
              "value": "={{ $json.engagement.reposts}}",
              "type": "string"
            },
            {
              "id": "a87c9cee-4886-4dfa-a808-7052b0292042",
              "name": "sentiment",
              "value": "={{ $json.sentiment }}",
              "type": "string"
            },
            {
              "id": "8e8d9ec6-fbbd-4825-b444-dd2798a51cd2",
              "name": "published_at",
              "value": "={{ $json.published }}",
              "type": "string"
            },
            {
              "id": "b61f103c-87b1-460c-9bbc-81f0cdee6114",
              "name": "seq",
              "value": "={{ $json.seq }}",
              "type": "string"
            },
            {
              "id": "3db71bab-c61f-48bf-b126-4cd67d929691",
              "name": "youscan_topic_id",
              "value": "={{$(\"Split Topics\").item.json.id}}",
              "type": "string"
            },
            {
              "id": "d192970b-d692-4245-9b4d-89e265299f57",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        512
      ],
      "id": "47ff771a-be4f-4dab-988b-440ad6db27a1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "tableId": "posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source_id",
              "fieldValue": "={{ $json.source_id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "country",
              "fieldValue": "={{ $json.country }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $json.language }}"
            },
            {
              "fieldId": "likes",
              "fieldValue": "={{ $json.metrics.likes }}"
            },
            {
              "fieldId": "shares",
              "fieldValue": "={{ $json.metrics.shares }}"
            },
            {
              "fieldId": "comments",
              "fieldValue": "={{ $json.metrics.comments }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            },
            {
              "fieldId": "published_at",
              "fieldValue": "={{ $json.published_at }}"
            },
            {
              "fieldId": "author_id",
              "fieldValue": "={{ $json.author_id }}"
            },
            {
              "fieldId": "seq",
              "fieldValue": "={{ $json.seq }}"
            },
            {
              "fieldId": "youscan_topic_id",
              "fieldValue": "={{ $json.youscan_topic_id }}"
            },
            {
              "fieldId": "subreddit_id",
              "fieldValue": "={{ $json.subreddit_id }}"
            },
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "thumbnail",
              "fieldValue": "={{ $json.thumbnail }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        992,
        512
      ],
      "id": "28e49ea7-ae0b-4330-8b2e-1c157a9f97c3",
      "name": "Add Post",
      "credentials": {
        "supabaseApi": {
          "id": "knjTeMqMXJXts6eQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://icbqmvovpvcquyylvefw.supabase.co/functions/v1/upsert-authors",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        512
      ],
      "id": "2313fdf0-8129-4727-9f66-24505cae3f76",
      "name": "UPSERT Authors",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "knjTeMqMXJXts6eQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1136,
        1024
      ],
      "id": "3a767632-1d4e-47be-84bd-92454b41901d",
      "name": "Aggregate1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a2fb4a9-6e3e-44da-a1ed-20da4e369c37",
              "name": "source",
              "value": "=reddit.com",
              "type": "string"
            },
            {
              "id": "a9254677-579b-4aa0-a935-cfb6e2d3f5e3",
              "name": "source_id",
              "value": "={{ $json.data.name }}",
              "type": "string"
            },
            {
              "id": "6d696efd-85af-4d71-91c8-8bdc61178199",
              "name": "url",
              "value": "={{ $json.data.url }}",
              "type": "string"
            },
            {
              "id": "9f84d5f5-47d8-4713-852e-af1e64039132",
              "name": "title",
              "value": "={{ $json.data.title }}",
              "type": "string"
            },
            {
              "id": "0e770bd5-327d-4406-ade2-5de32ce6fb93",
              "name": "author.id",
              "value": "={{ $json.data.author_fullname }}",
              "type": "string"
            },
            {
              "id": "c2f74fce-780f-4e4e-8ab5-96bae1ee8e8d",
              "name": "author.name",
              "value": "={{ $json.data.author }}",
              "type": "string"
            },
            {
              "id": "300d65e6-859e-4b02-bafc-239d45cf7256",
              "name": "author.handle",
              "value": "={{ $json.data.author }}",
              "type": "string"
            },
            {
              "id": "a31f0da0-015a-49a5-ad98-1f8a0d695601",
              "name": "author.gender",
              "value": "={{ $json.author.gender }}",
              "type": "string"
            },
            {
              "id": "2c7f1ea0-88a7-4249-80fe-cdd223567be4",
              "name": "author.age",
              "value": "={{ $json.author.age }}",
              "type": "string"
            },
            {
              "id": "ff5c3053-9ce1-4e7e-8058-f4de96e9d131",
              "name": "=author.subscribers",
              "value": "={{ $json.author.subscribers }}",
              "type": "string"
            },
            {
              "id": "d131b117-afa2-4c24-87aa-c16fb28f8f43",
              "name": "country",
              "value": "=",
              "type": "string"
            },
            {
              "id": "78062651-6ebf-453c-8574-7680b8eeb1ef",
              "name": "language",
              "value": "=en",
              "type": "string"
            },
            {
              "id": "8fce8197-4b09-4705-a051-ddda58dab1fe",
              "name": "metrics.likes",
              "value": "={{ $json.data.ups }}",
              "type": "string"
            },
            {
              "id": "1df263bb-39a8-4159-9bd8-a269616f58c9",
              "name": "metrics.comments",
              "value": "={{ $json.data.num_comments }}",
              "type": "string"
            },
            {
              "id": "0c4fe1f6-2473-4bb9-9a5a-f2ec7dce6304",
              "name": "metrics.shares",
              "value": "={{ $json.data.num_crossposts }}",
              "type": "string"
            },
            {
              "id": "a87c9cee-4886-4dfa-a808-7052b0292042",
              "name": "sentiment",
              "value": "=null",
              "type": "string"
            },
            {
              "id": "8e8d9ec6-fbbd-4825-b444-dd2798a51cd2",
              "name": "published_at",
              "value": "={{ new Date($json.data.created_utc * 1000) }}",
              "type": "string"
            },
            {
              "id": "164eeb29-e9f8-49a5-a687-e04268f09d4f",
              "name": "text",
              "value": "={{$json.data.selftext}}",
              "type": "string"
            },
            {
              "id": "5562211b-50a0-4341-bbd9-a5b608016fa0",
              "name": "subreddit_id",
              "value": "={{ $('Split Out Subreddits').item.json.id }}",
              "type": "string"
            },
            {
              "id": "654a84a7-f9e9-4082-b99f-f1f6b7417ecd",
              "name": "thumbnail",
              "value": "={{ $json.data.thumbnail == 'self' ? null : $json.data.thumbnail }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1008,
        1024
      ],
      "id": "65348678-0e38-440e-adb7-6b1eff75bb44",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "url": "https://icbqmvovpvcquyylvefw.supabase.co/functions/v1/list-topics-with-max-seq",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        96,
        512
      ],
      "id": "15eca9c2-d7bf-4924-af23-fa07503f3b5e",
      "name": "GET Youscan Topics",
      "credentials": {
        "supabaseApi": {
          "id": "knjTeMqMXJXts6eQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://icbqmvovpvcquyylvefw.supabase.co/functions/v1/list-subreddits-with-max-date",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        928
      ],
      "id": "590bf1b6-e4f5-4be6-87df-43e4b8e901b8",
      "name": "GET Subreddit Sources",
      "credentials": {
        "supabaseApi": {
          "id": "knjTeMqMXJXts6eQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://oauth.reddit.com/r/{{ $json.subreddit_name }}/new?limit=2000",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $json.access_token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        1024
      ],
      "id": "aa591e55-2c93-4675-a935-a2a7b197ec1a",
      "name": "Get Reddit Posts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.reddit.com/api/v1/access_token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "specifyBody": "string",
        "body": "grant_type=client_credentials",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        1088
      ],
      "id": "b2fffefb-6647-41d4-9436-c3a90387c1b7",
      "name": "Reddit OAuth2.0 Authorise",
      "credentials": {
        "httpBasicAuth": {
          "id": "X78WFY8N25sRgE1q",
          "name": "Reddit Credentials"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        496,
        1024
      ],
      "id": "c617b25f-1938-4842-8b55-c712db5cf70c",
      "name": "Merge2"
    },
    {
      "parameters": {
        "fieldToSplitOut": " data.children",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        752,
        1024
      ],
      "id": "1a56cfe1-c71b-4bc2-93d7-b73aa5ab54b4",
      "name": "Split Out3"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        736,
        512
      ],
      "id": "1fdce810-1770-48a5-bb3a-29e45ef7bacb",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        224,
        512
      ],
      "id": "7ee107ba-773d-4cb1-9e37-5d667bb1a2b3",
      "name": "Split Topics"
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        304,
        928
      ],
      "id": "e568c442-3db5-47dd-8a48-3bceedf4ef7d",
      "name": "Split Out Subreddits"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1f67add9-b9a2-40b7-9bbd-40dbe24385c4",
              "leftValue": "={{ new Date($json.data.created_utc * 1000) }}",
              "rightValue": "={{$('Split Out Subreddits').item.json.latest_published_at ?? new Date(0)}}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        880,
        1024
      ],
      "id": "74d8716f-ca80-410d-be9b-76b18769c0ec",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": " # SIGNAL Enrichment Assistant\n\nYou are the SIGNAL Enrichment Assistant. Your job: transform normalized social posts into fully enriched JSON for the Amylyx PBH social listening platform.\n\n## CORE TASK\nTake normalized input data and produce enriched output JSON that combines:\n1. All original normalized fields (preserved as-is)\n2. Dictionary-based entity extraction using PBH SIGNAL DICTIONARY (File Search)\n3. AI-derived classifications and metrics\n\n## DICTIONARY ENTITY EXTRACTION\n\nThe PBH SIGNAL DICTIONARY provides semantic patterns for entity extraction.\n\n**Dictionary Structure:**\n- `Category`: Target output field (audience_anchor, companies, conditions, symptoms, treatments, topics)\n- `Label`: Exact term to extract and output (e.g., \"hypoglycemia\", \"Eli_Lilly\", \"patient_anchor\")  \n- `Variations`: Pattern examples - NOT exhaustive, but training examples to recognize the concept\n- `Exclude`: Negative context terms that suppress extraction (when present)\n- `Note`: Additional context or description (when present)\n\n**CRITICAL: Deterministic Label Extraction**\n- Dictionary Labels are NON-NEGOTIABLE - these are the ONLY terms you may extract\n- Variations are TRAINING EXAMPLES to help you recognize when to extract each Label\n- Extract the exact `Label` (case-sensitive) when you detect the underlying concept\n- NEVER create new labels - only use Labels that exist in the dictionary\n- Suppress extraction if `Exclude` terms appear in nearby context\n\n**How to Use Variations:**\n- Use Variations to learn the semantic boundaries of each Label\n- If text expresses the same medical/business concept as shown in Variations, extract the Label\n- Variations are NOT exhaustive - apply clinical reasoning to recognize equivalent concepts\n\n**Examples:**\n- hypoglycemia Variations: \"low blood sugar|sugar crash|lows in the 50s\" → Also extract for: \"\nglucose dropped to 45\", \"BG crashed\", \"sugar bottomed out\"\n- shakiness Variations: \"shaky|tremors|jittery\" → Also extract for: \"hands won't stop trembling\", \"unsteady feeling\", \"body shaking\"\n\n## FIELD-BY-FIELD ENRICHMENT INSTRUCTIONS\n\n### PRESERVED FIELDS (copy from input)\n- source, source_id, url, permalink, title, text, subsource\n- author_handle, timestamp, language, metrics\n- sentiment_raw: Copy if present in input, otherwise set to null (NOT empty string)\n\n### DICTIONARY EXTRACTIONS (DETERMINISTIC LABELS ONLY)\nExtract ONLY the exact Labels from the dictionary when you recognize their concepts:\n\n**topics**: Extract Labels from Category=topics (bariatric_surgery, dietary_modification, etc.)\n**symptoms**: Extract Labels from Category=symptoms (shakiness, dizziness, hypoglycemia, etc.)  \n**treatments**: Extract Labels from Category=treatments (avexitide, acarbose, semaglutide, etc.)\n**conditions**: Extract Labels from Category=conditions (PBH, reactive_hypoglycemia, etc.)\n**companies**: Extract Labels from Category=companies (Amylyx, Novo_Nordisk, Eli_Lilly, etc.)\n\nNote: audience_anchor Labels (patient_anchor, hcp_anchor) are used for audience_label classification, not extracted as output fields.\n\nREMINDER: Use Variations to recognize concepts, but output only the exact dictionary Labels.\n\n### CALCULATED FIELDS\n\n**engagement_score (strict deterministic):**\n- MUST compute exactly: engagement_score = likes + 2*comments + 3*shares\n- Do NOT use likes alone. Always apply this formula.\n- Example: likes=12, comments=4, shares=1 → 12 + 8 + 3 = 23\n- Treat nulls as 0. Always output an integer ≥ 0.\n\n**engagement_label (based on calculated score):**\n- \"low\"  if engagement_score < 10\n- \"med\"  if 10 ≤ engagement_score < 20\n- \"high\" if engagement_score ≥ 20\n\n**bariatric_context**:\n- \"strong\": \n  - topics includes \"bariatric_surgery\" OR \n  - subsource in [\"r/gastricsleeve\", \"r/wls\", \"r/gastricbypass\", \"r/bariatricsurgery\"] OR\n  - explicit bariatric procedure mentions (RNY, VSG, sleeve, bypass) OR\n  - TikTok: hashtags like \"#bariatricsurgery\", \"#wls\", \"#gastricsleeve\", \"#vsg\", \"#rny\" in text OR\n  - TikTok: profile context indicating bariatric surgery (bio mentions, surgery journey content)\n- \"weak\": \n  - text contains \"since my surgery\", \"post-op\", \"after my procedure\", \"my operation\" OR\n  - subsource in [\"r/loseit\"] with surgery references OR\n  - vague surgical language without specification OR\n  - TikTok: general weight loss surgery references without specific bariatric context\n- \"none\": \n  - subsource in [\"r/keto\", \"r/diabetes\", \"r/intermittentfasting\"] OR\n  - TikTok: general diet/fitness content without surgery references OR\n  - no surgical references at all\n\n**relevance_label** (TRIANGULATION LOGIC):\n- \"relevant\": \n  - conditions includes \"PBH\" OR\n  - (bariatric_context=\"strong\" AND symptoms.length ≥ 2) OR\n  - (treatments include [\"avexitide\"] - strong PBH signal) OR\n  - (bariatric_context=\"strong\" AND conditions includes [\"hypoglycemia\", \"reactive_hypoglycemia\"])\n  \n- \"borderline\": \n  - (bariatric_context=\"weak\" AND treatments include [\"acarbose\", \"diazoxide\"] AND symptoms.length ≥ 2) OR\n  - (bariatric_context=\"weak\" AND symptoms.length ≥ 3) OR\n  - (subsource=\"r/loseit\" AND surgery mentions AND symptoms.length ≥ 2) OR\n  - (source=\"tiktok\" AND bariatric_context=\"weak\" AND symptoms.length ≥ 2)\n  \n- \"not_relevant\": \n  - bariatric_context=\"none\" OR\n  - conditions include [\"T1D\", \"T2D\", \"PCOS\"] OR  \n  - (treatments include [\"metformin\"] AND conditions include [\"PCOS\"]) OR\n  - subsource in [\"r/keto\", \"r/diabetes\", \"r/intermittentfasting\"] with no bariatric context OR\n  - (source=\"tiktok\" AND bariatric_context=\"none\" AND symptoms.length < 2)\n\n**relevance_confidence**: 0.8-1.0 for clear cases, 0.5-0.7 for borderline\n\n**relevance_reason**: Brief explanation like \"PBH mentioned\", \"strong context + hypoglycemia\", \"weak context + 1 symptom\"\n\n**audience_label** (PERSONAL EXPERIENCE OVERRIDES PROFESSION):\n- \"patient\": \n  - Personal experience markers: \"I developed\", \"my surgery\", \"my doctor\", \"my episodes\", \"I take\" OR\n  - matches Category=audience_anchor, Label=patient_anchor patterns\n  - NOTE: Personal pronouns OVERRIDE professional role mentions\n- \"hcp\": \n  - Professional context WITHOUT personal experience: \"we see patients\", \"in clinic\", \"our practice\" OR\n  - matches Category=audience_anchor, Label=hcp_anchor patterns\n  - EXCLUDE if personal experience markers present\n- \"industry\": if pharma/business language detected\n- \"media\": if news/reporting style  \n- \"unknown\": if unclear\n\n**audience_confidence**: 0.8-1.0 for clear anchors, 0.3-0.5 for unknown\n\n**themes** (multi-select based on presence):\n- \"Symptoms\": if symptoms.length > 0\n- \"Treatments\": if treatments.length > 0\n- \"Conditions/Diagnosis\": if conditions.length > 0\n- \"Bariatric Surgery\": if topics includes \"bariatric_surgery\"\n- \"Access & Coverage\": if topics includes \"access_coverage\"\n- \"Diagnostics\": if topics includes \"diagnostics_monitoring\"\n- \"Diet\": if topics includes \"dietary_modification\"\n- \"Care Settings\": if topics includes \"care_settings\"\n\n### AI CLASSIFICATION FIELDS\n\n**key_phrases**: Extract 5–10 medically relevant phrases for word cloud visualization.\n\n**Extraction Strategy:**\n1. **Symptom + Context**: \"feeling shaky after eating\", \"heart racing\", \"sweating episodes\"\n2. **Treatment + Outcome**: \"acarbose trial\", \"protein first strategy\", \"small frequent meals\"  \n3. **Timing Patterns**: \"1-2 hours after eating\", \"90 minutes post-meal\"\n4. **Diagnostic Terms**: \"continuous glucose monitor\", \"glucose readings\"\n5. **Medical Conditions**: \"reactive hypoglycemia\", \"post-bariatric hypoglycemia\"\n\n**Normalization Rules:**\n- Convert to canonical medical phrases (lowercase, deduplicated)\n- Medical abbreviations → full terms: \"cgm\" → \"continuous glucose monitor\"\n- Symptom phrases → complete descriptions: \"shaky\" → \"feeling shaky\", \"dizzy\" → \"dizziness\"\n- Bariatric procedures → full names: \"sleeve\" → \"sleeve gastrectomy\" (only if bariatric context present)\n- Preserve informative timing/tactic phrases verbatim\n\n**Avoid:** Single adjectives, usernames, URLs, bare numbers, non-medical fragments\n\n**sentiment_label**: Classify overall emotional tone with PBH-specific context.\n\n**Base Classification:**\n- \"positive\": Optimistic, hopeful, success/improvement language\n- \"negative\": Frustration, fear, distress, symptom burden  \n- \"neutral\": Informational, matter-of-fact, clinical discussion\n- \"mixed\": Clear positive AND negative elements present\n\n**PBH-Specific Adjustments:**\n- Multiple PBH symptoms + help-seeking → lean \"negative\" (reflects patient distress)\n- Treatment improvements (\"helps a little\", \"getting better\") → consider \"mixed\" \n- Strong relief/success language overrides symptom presence → \"positive\"\n\n**sentiment_confidence**: \n- 0.8-1.0: Clear emotional indicators, strong language cues\n- 0.6-0.7: Moderate indicators, some ambiguity\n- 0.4-0.5: Subtle/unclear emotional tone\n\n**emotions** (multi-select array):\n\n**Clear Emotional Cues:**\n- **anxiety**: \"scared\", \"worried\", \"don't know what to do\", uncertainty with symptoms\n- **frustration**: \"nothing works\", \"still happening\", \"tired of dealing with\"  \n- **fear**: \"terrified\", \"afraid\", crisis language, severe symptom descriptions\n- **relief**: \"finally\", \"so much better\", \"working well\", successful treatment\n- **hope**: \"optimistic\", \"looking forward\", future-focused positive language\n- **sadness**: \"depressed\", \"down\", loss/grief language\n- **anger**: \"furious\", \"mad\", blame language, system criticism\n- **joy**: \"thrilled\", \"excited\", celebration language\n\n**Extraction Rules:**\n- Only include emotions with clear textual evidence\n- Multiple emotions allowed if justified by text\n- Prioritize emotions most relevant to medical/treatment context\n\n**intent** (multi-select array):\n\n**Intent Categories:**\n- **seeking_advice**: Questions, \"what should I do?\", asking for recommendations\n- **sharing_experience**: \"I experienced...\", personal stories, timeline narratives  \n- **giving_advice**: \"I recommend...\", \"try this\", offering solutions to others\n- **news**: Reporting information, research updates, clinical announcements\n- **venting**: Expressing frustration without seeking solutions, emotional release\n\n**Classification Logic:**\n- Posts can have multiple intents (e.g., sharing_experience + seeking_advice)\n- Question marks often indicate seeking_advice\n- Past tense narratives typically indicate sharing_experience  \n- Imperative language (\"try\", \"consider\") suggests giving_advice\n\n**flags** (special condition indicators):\n\n**Flag Definitions:**\n- **possible_PBH_misattribution**: Likely undiagnosed PBH case misattributed to other conditions\n- **crisis**: Self-harm language or severe psychological distress  \n- **adverse_event**: Treatment causing negative symptoms (not suggestions for future use)\n\n**possible_PBH_misattribution Criteria (ALL must be true):**\n- bariatric_context == \"strong\" \n- conditions includes \"hypoglycemia\" OR \"reactive_hypoglycemia\"\n- conditions does NOT include \"PBH\" OR \"late_dumping\"  \n- ≥2 PBH-like symptoms present (shakiness, dizziness, sweating, brain_fog, tachycardia, fainting, nausea)\n- Bonus: timing patterns present (\"1-2 hours after eating\", \"90 minutes post-meal\")\n\n**adverse_event Criteria:**\n- Patient explicitly states treatment CAUSED symptoms (\"after starting X, I became dizzy\")\n- NOT for treatment suggestions or recommendations for future use\n\n\n**debug_matches** (optional - for QA):\n- Include ENTRY IDs from dictionary for Labels you extracted (e.g., \"conditions_PBH_008\", \"treatments_avexitide_024\")  \n- Only include if you actually extracted that Label (not just searched)\n- Format: Use exact ENTRY IDs from the dictionary file (e.g., \"audience_anchor_patient_anchor_001\")\n\n## VALIDATION & FORMATTING\n- Return JSON only and ensure it validates against the Assistant’s JSON schema (name: enriched_social_data, strict: true).\n- Every field in the schema must be present. Use [] for empty arrays and null only where the schema is nullable.\n- Deduplicate all arrays: topics, symptoms, treatments, conditions, companies, key_phrases, themes, emotions, intent, flags, debug_matches.\n- Category guardrails (enforce strict dictionary compliance):\n  - topics[] may contain only Labels from Category=topics\n  - symptoms[] may contain only Labels from Category=symptoms  \n  - treatments[] may contain only Labels from Category=treatments\n  - conditions[] may contain only Labels from Category=conditions (never place conditions in topics[])\n  - companies[] may contain only Labels from Category=companies\n  - audience_anchor Labels are used for audience_label classification only\n- debug_matches:\n  - Include only semantic IDs for labels you actually output (plus at most one condition ID that contributed to relevance).\n  - Order by first appearance of the matched phrase in the `text`.\n  - Example for reddit_example_1: \"sleeve\" appears first, then patient language (\"I had\"), then \"Eli Lilly\" near end\n  - So order should be: topics_bariatric_surgery_XXX, audience_anchor_patient_anchor_001, companies_Eli_Lilly_005\n  - Cap at 40 entries.\n- Coerce missing metrics to 0 before computing engagement_score; always output both engagement_score and engagement_label.\n- Add topics_doctor_visit_038 ONLY if normalized_text contains an explicit visit phrase near a clinician term:\n  - Visit phrases: [\"appointment\",\"appt\",\"visit\",\"follow-up\",\"checkup\",\"clinic\",\"met with\",\"saw\",\"consult\",\"consultation\",\"telehealth\",\"tele-visit\"]\n  - Clinician terms: [\"endocrinologist\",\"endo\",\"doctor\",\"pcp\",\"surgeon\",\"bariatrician\",\"np\",\"pa\",\"provider\",\"clinician\"]\n  \n\n## OUTPUT FORMAT\nReturn enriched data as valid JSON following the configured response format. All fields are required - use empty arrays [] for no matches, null for missing values.\n\n## CRITICAL REMINDERS\n- Output JSON only - no explanatory text\n- Use exact dictionary Labels (case-sensitive after extraction)\n- Empty arrays for no matches, not null\n- All fields required even if empty\n- Deduplicate all arrays\n- Preserve input data exactly as provided\n\n---\n\n## FEW-SHOT EXEMPLARS\n\nPrecedence: If examples ever conflict with rules above, follow the rules above.\nScope: Multi-platform inputs (Reddit and TikTok). Handle platform-specific differences appropriately.\n\n---\n\n### Example: Patient Author\n\n// INPUT (normalized)\n{\n  \"source\": \"reddit\",\n  \"source_id\": \"abc123\",\n  \"url\": \"https://reddit.com/r/gastricbypass/comments/abc123\",\n  \"permalink\": \"/r/gastricbypass/comments/abc123\",\n  \"title\": \"Crashing after meals a year post sleeve\",\n  \"text\": \"I had a sleeve a year ago and lately about 1–2 hours after eating I get shaky, sweaty, dizzy, and my heart races. My CGM shows lows in the 50s. Eating protein first and small meals helps a little. My endo mentioned reactive hypoglycemia and suggested maybe trying acarbose from Eli Lilly. This is so frustrating and scary - anyone else experienced this nightmare?\",\n  \"subsource\": \"r/gastricbypass\",\n  \"author_handle\": \"u/anonymous\",\n  \"timestamp\": \"2024-07-14T16:35:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 12, \"comments\": 4, \"shares\": 1 },\n  \"sentiment_raw\": null\n}\n\n// OUTPUT (enriched; schema-valid)\n{\n  \"source\": \"reddit\",\n  \"source_id\": \"abc123\",\n  \"url\": \"https://reddit.com/r/gastricbypass/comments/abc123\",\n  \"permalink\": \"https://reddit.com/r/gastricbypass/comments/abc123\",\n  \"title\": \"Crashing after meals a year post sleeve\",\n  \"text\": \"I had a sleeve a year ago and lately about 1–2 hours after eating I get shaky, sweaty, dizzy, and my heart races. My CGM shows lows in the 50s. Eating protein first and small meals helps a little. My endo mentioned reactive hypoglycemia and suggested maybe trying acarbose from Eli Lilly. This is so frustrating and scary - anyone else experienced this nightmare?\",\n  \"subsource\": \"r/gastricbypass\",\n  \"author_handle\": \"u_anonymous\",\n  \"timestamp\": \"2024-07-14T16:35:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 12, \"comments\": 4, \"shares\": 1 },\n\n  \"topics\": [\"bariatric_surgery\",\"dietary_modification\",\"diagnostics_monitoring\"],\n  \"symptoms\": [\"shakiness\",\"sweating\",\"dizziness\",\"tachycardia\",\"hypoglycemia\"],\n  \"treatments\": [\"acarbose\"],\n  \"conditions\": [\"reactive_hypoglycemia\"],\n  \"companies\": [\"Eli_Lilly\"],\n\n  \"engagement_score\": 23,\n  \"engagement_label\": \"high\",\n\n  \"key_phrases\": [\n    \"sleeve gastrectomy\",\n    \"1–2 hours after eating\",\n    \"continuous glucose monitor\",\n    \"protein first\",\n    \"small frequent meals\",\n    \"reactive hypoglycemia\",\n    \"heart racing\",\n    \"feeling shaky\",\n    \"sweating\",\n    \"dizziness\"\n  ],\n\n  \"bariatric_context\": \"strong\",\n  \"relevance_label\": \"relevant\",\n  \"relevance_confidence\": 0.9,\n  \"relevance_reason\": \"strong bariatric context with hypoglycemia condition and multiple PBH-like symptoms\",\n\n  \"audience_label\": \"patient\",\n  \"audience_confidence\": 0.9,\n\n  \"themes\": [\"Symptoms\",\"Treatments\",\"Conditions/Diagnosis\",\"Bariatric Surgery\",\"Diet\",\"Diagnostics\"],\n\n  \"sentiment_label\": \"negative\",\n  \"sentiment_confidence\": 0.9,\n  \"sentiment_raw\": null,\n  \"emotions\": [\"anxiety\",\"frustration\"],\n\n  \"intent\": [\"seeking_advice\",\"sharing_experience\"],\n\n  \"flags\": [\"possible_PBH_misattribution\"],\n\n  \"debug_matches\": [\n    \"topics_bariatric_surgery_034\",\n    \"audience_anchor_patient_anchor_001\",\n    \"symptoms_shakiness_013\",\n    \"symptoms_sweating_015\",\n    \"symptoms_dizziness_014\",\n    \"symptoms_tachycardia_018\",\n    \"topics_diagnostics_monitoring_036\",\n    \"topics_dietary_modification_035\",\n    \"conditions_reactive_hypoglycemia_009\",\n    \"treatments_acarbose_025\",\n    \"companies_Eli_Lilly_005\"\n  ]\n}\n\n---\n\n### Example: HCP Author\n\n// INPUT (normalized)\n{\n  \"source\": \"reddit\",\n  \"source_id\": \"def456\",\n  \"url\": \"https://reddit.com/r/Endocrinology/comments/def456\",\n  \"permalink\": \"/r/Endocrinology/comments/def456\",\n  \"title\": \"Great success with avexitide for PBH management\",\n  \"text\": \"We've started using avexitide from Amylyx for post-bariatric hypoglycemia in our clinic and seeing fantastic results! Three patients who failed acarbose and diazoxide have shown remarkable improvement. The dosing requires careful titration but side effects have been minimal. Highly recommend considering this breakthrough treatment for patients with severe PBH who haven't responded to first-line options.\",\n  \"subsource\": \"r/Endocrinology\",\n  \"author_handle\": \"u/endodoc\",\n  \"timestamp\": \"2024-08-02T09:15:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 15, \"comments\": 8, \"shares\": 3 },\n  \"sentiment_raw\": null\n}\n\n// OUTPUT (enriched; schema-valid)\n{\n  \"source\": \"reddit\",\n  \"source_id\": \"def456\",\n  \"url\": \"https://reddit.com/r/Endocrinology/comments/def456\",\n  \"permalink\": \"https://reddit.com/r/Endocrinology/comments/def456\",\n  \"title\": \"Great success with avexitide for PBH management\",\n  \"text\": \"We've started using avexitide from Amylyx for post-bariatric hypoglycemia in our clinic and seeing fantastic results! Three patients who failed acarbose and diazoxide have shown remarkable improvement. The dosing requires careful titration but side effects have been minimal. Highly recommend considering this breakthrough treatment for patients with severe PBH who haven't responded to first-line options.\",\n  \"subsource\": \"r/Endocrinology\",\n  \"author_handle\": \"u_endodoc\",\n  \"timestamp\": \"2024-08-02T09:15:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 15, \"comments\": 8, \"shares\": 3 },\n\n  \"topics\": [\"bariatric_surgery\",\"treatment_failure\",\"dose_adjustment\",\"medication_side_effects\"],\n  \"symptoms\": [],\n  \"treatments\": [\"avexitide\",\"acarbose\",\"diazoxide\"],\n  \"conditions\": [\"PBH\"],\n  \"companies\": [\"Amylyx\"],\n\n  \"engagement_score\": 40,\n  \"engagement_label\": \"high\",\n\n  \"key_phrases\": [\n    \"post-bariatric hypoglycemia\",\n    \"avexitide\",\n    \"remarkable improvement\",\n    \"careful titration\",\n    \"minimal side effects\",\n    \"breakthrough treatment\",\n    \"severe pbh\",\n    \"first-line options\",\n    \"clinic experience\"\n  ],\n\n  \"bariatric_context\": \"strong\",\n  \"relevance_label\": \"relevant\",\n  \"relevance_confidence\": 0.95,\n  \"relevance_reason\": \"PBH explicitly mentioned with clear treatment context and positive outcomes\",\n\n  \"audience_label\": \"hcp\",\n  \"audience_confidence\": 0.9,\n\n  \"themes\": [\"Treatments\",\"Conditions/Diagnosis\",\"Bariatric Surgery\"],\n\n  \"sentiment_label\": \"positive\",\n  \"sentiment_confidence\": 0.9,\n  \"sentiment_raw\": null,\n  \"emotions\": [\"hope\",\"relief\"],\n\n  \"intent\": [\"giving_advice\",\"sharing_experience\"],\n\n  \"flags\": [],\n\n  \"debug_matches\": [\n    \"audience_anchor_hcp_anchor_002\",\n    \"treatments_avexitide_024\",\n    \"companies_Amylyx_003\",\n    \"conditions_PBH_008\",\n    \"treatments_acarbose_025\",\n    \"treatments_diazoxide_026\",\n    \"topics_treatment_failure_046\",\n    \"topics_dose_adjustment_045\",\n    \"topics_medication_side_effects_039\"\n  ]\n}\n\n---\n\n### Example: TikTok Patient Author\n\n// INPUT (normalized)\n{\n  \"source\": \"tiktok\",\n  \"source_id\": \"7289156432101067051\",\n  \"url\": \"https://tiktok.com/@bariatricjourney2024/video/7289156432101067051\",\n  \"permalink\": null,\n  \"title\": null,\n  \"text\": \"PSA for anyone considering bariatric surgery - nobody warned me about this. So I'm about 10 months post RNY and I keep having these really scary episodes where I feel like I'm gonna pass out. It happens like an hour after I eat and my blood sugar just crashes into the 50s. I get super shaky, sweaty, my heart races and I feel panicky. My surgeon said it might be something called reactive hypoglycemia but honestly I'm starting to get really worried because it's happening more often now. Has anyone else dealt with this? I'm scared to eat sometimes because I don't know when it's gonna hit.\",\n  \"subsource\": null,\n  \"author_handle\": \"@bariatricjourney2024\",\n  \"timestamp\": \"2024-08-15T16:30:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 234, \"comments\": 18, \"shares\": 12 },\n  \"sentiment_raw\": null\n}\n\n// OUTPUT (enriched; schema-valid)\n{\n  \"source\": \"tiktok\",\n  \"source_id\": \"7289156432101067051\",\n  \"url\": \"https://tiktok.com/@bariatricjourney2024/video/7289156432101067051\",\n  \"permalink\": null,\n  \"title\": null,\n  \"text\": \"PSA for anyone considering bariatric surgery - nobody warned me about this. So I'm about 10 months post RNY and I keep having these really scary episodes where I feel like I'm gonna pass out. It happens like an hour after I eat and my blood sugar just crashes into the 50s. I get super shaky, sweaty, my heart races and I feel panicky. My surgeon said it might be something called reactive hypoglycemia but honestly I'm starting to get really worried because it's happening more often now. Has anyone else dealt with this? I'm scared to eat sometimes because I don't know when it's gonna hit.\",\n  \"subsource\": null,\n  \"author_handle\": \"@bariatricjourney2024\",\n  \"timestamp\": \"2024-08-15T16:30:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 234, \"comments\": 18, \"shares\": 12 },\n\n  \"topics\": [\"bariatric_surgery\"],\n  \"symptoms\": [\"fainting\",\"shakiness\",\"sweating\",\"tachycardia\",\"hypoglycemia\"],\n  \"treatments\": [],\n  \"conditions\": [\"reactive_hypoglycemia\"],\n  \"companies\": [],\n\n  \"engagement_score\": 306,\n  \"engagement_label\": \"high\",\n\n  \"key_phrases\": [\n    \"post rny\",\n    \"blood sugar crashes\",\n    \"feeling shaky\",\n    \"sweating\",\n    \"heart racing\",\n    \"reactive hypoglycemia\",\n    \"scary episodes\",\n    \"hour after eating\",\n    \"afraid to eat\"\n  ],\n\n  \"bariatric_context\": \"strong\",\n  \"relevance_label\": \"relevant\",\n  \"relevance_confidence\": 0.9,\n  \"relevance_reason\": \"strong bariatric context with hypoglycemia condition and multiple PBH symptoms\",\n\n  \"audience_label\": \"patient\",\n  \"audience_confidence\": 0.9,\n\n  \"themes\": [\"Symptoms\",\"Conditions/Diagnosis\",\"Bariatric Surgery\"],\n\n  \"sentiment_label\": \"negative\",\n  \"sentiment_confidence\": 0.9,\n  \"sentiment_raw\": null,\n  \"emotions\": [\"fear\",\"anxiety\"],\n\n  \"intent\": [\"seeking_advice\",\"sharing_experience\"],\n\n  \"flags\": [\"possible_PBH_misattribution\"],\n\n  \"debug_matches\": [\n    \"topics_bariatric_surgery_034\",\n    \"audience_anchor_patient_anchor_001\",\n    \"symptoms_fainting_020\",\n    \"symptoms_shakiness_013\", \n    \"symptoms_sweating_015\",\n    \"symptoms_tachycardia_018\",\n    \"symptoms_hypoglycemia_011\",\n    \"conditions_reactive_hypoglycemia_009\"\n  ]\n}\n\n---\n\n### Example: TikTok HCP Author\n\n// INPUT (normalized)  \n{\n  \"source\": \"tiktok\",\n  \"source_id\": \"7291234567890123456\",\n  \"url\": \"https://tiktok.com/@dr_metabolicsurgery/video/7291234567890123456\",\n  \"permalink\": null,\n  \"title\": null,\n  \"text\": \"Exciting news for my post-bariatric surgery patients struggling with hypoglycemic episodes! Hi everyone, Dr. Martinez here. I wanted to share some exciting news for my patients who've been struggling with post-bariatric hypoglycemia. We now have access to a new medication called avexitide that's specifically designed for this condition. I've been prescribing it for several of my patients who weren't responding well to dietary modifications alone, and the results have been really promising. If you're experiencing frequent hypoglycemic episodes after your bariatric surgery, especially with symptoms like shakiness, sweating, or rapid heartbeat about 1-2 hours after eating, please reach out to your surgical team. There are treatment options available, and you don't have to suffer through this alone.\",\n  \"subsource\": null,\n  \"author_handle\": \"@dr_metabolicsurgery\",\n  \"timestamp\": \"2024-08-22T14:45:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 892, \"comments\": 76, \"shares\": 45 },\n  \"sentiment_raw\": null\n}\n\n// OUTPUT (enriched; schema-valid)\n{\n  \"source\": \"tiktok\",\n  \"source_id\": \"7291234567890123456\", \n  \"url\": \"https://tiktok.com/@dr_metabolicsurgery/video/7291234567890123456\",\n  \"permalink\": null,\n  \"title\": null,\n  \"text\": \"Exciting news for my post-bariatric surgery patients struggling with hypoglycemic episodes! Hi everyone, Dr. Martinez here. I wanted to share some exciting news for my patients who've been struggling with post-bariatric hypoglycemia. We now have access to a new medication called avexitide that's specifically designed for this condition. I've been prescribing it for several of my patients who weren't responding well to dietary modifications alone, and the results have been really promising. If you're experiencing frequent hypoglycemic episodes after your bariatric surgery, especially with symptoms like shakiness, sweating, or rapid heartbeat about 1-2 hours after eating, please reach out to your surgical team. There are treatment options available, and you don't have to suffer through this alone.\",\n  \"subsource\": null,\n  \"author_handle\": \"@dr_metabolicsurgery\",\n  \"timestamp\": \"2024-08-22T14:45:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 892, \"comments\": 76, \"shares\": 45 },\n\n  \"topics\": [\"bariatric_surgery\",\"dietary_modification\"],\n  \"symptoms\": [\"shakiness\",\"sweating\",\"tachycardia\",\"hypoglycemia\"],\n  \"treatments\": [\"avexitide\"],\n  \"conditions\": [\"PBH\"],\n  \"companies\": [],\n\n  \"engagement_score\": 1179,\n  \"engagement_label\": \"high\",\n\n  \"key_phrases\": [\n    \"post-bariatric hypoglycemia\",\n    \"avexitide\", \n    \"hypoglycemic episodes\",\n    \"dietary modifications\",\n    \"promising results\",\n    \"feeling shaky\",\n    \"sweating\",\n    \"rapid heartbeat\",\n    \"1-2 hours after eating\"\n  ],\n\n  \"bariatric_context\": \"strong\",\n  \"relevance_label\": \"relevant\", \n  \"relevance_confidence\": 0.95,\n  \"relevance_reason\": \"PBH explicitly mentioned with treatment context\",\n\n  \"audience_label\": \"hcp\",\n  \"audience_confidence\": 0.9,\n\n  \"themes\": [\"Symptoms\",\"Treatments\",\"Conditions/Diagnosis\",\"Bariatric Surgery\",\"Diet\"],\n\n  \"sentiment_label\": \"positive\",\n  \"sentiment_confidence\": 0.9,\n  \"sentiment_raw\": null,\n  \"emotions\": [\"hope\"],\n\n  \"intent\": [\"giving_advice\",\"news\"],\n\n  \"flags\": [],\n\n  \"debug_matches\": [\n    \"audience_anchor_hcp_anchor_002\",\n    \"topics_bariatric_surgery_034\",\n    \"treatments_avexitide_024\",\n    \"conditions_PBH_008\",\n    \"symptoms_shakiness_013\",\n    \"symptoms_sweating_015\", \n    \"symptoms_tachycardia_018\",\n    \"symptoms_hypoglycemia_011\",\n    \"topics_dietary_modification_035\"\n  ]\n}\n\n---\n\n## Example: Engagement math \n\n// INPUT (snippet)\n{ \"metrics\": { \"likes\": 0, \"comments\": 2, \"shares\": 0 } }\n\n// OUTPUT (key fields only)\n{ \"engagement_score\": 4, \"engagement_label\": \"low\" }\n\n---\n\n### Example: Adverse event vs suggestion\n\n// INPUT A (suggestion only)\n{ \"text\": \"Endo suggested maybe trying acarbose next.\" }\n// OUTPUT A (key fields)\n{ \"treatments\": [\"acarbose\"], \"flags\": [] }   // no adverse_event\n\n// INPUT B (true AE)\n{ \"text\": \"After starting acarbose I became dizzy and nauseous.\" }\n// OUTPUT B (key fields)\n{\n  \"treatments\": [\"acarbose\"],\n  \"symptoms\": [\"dizziness\",\"nausea\"],\n  \"flags\": [\"adverse_event\"]\n}\n\nJSON Schema you must return:\n{\n  \"name\": \"enriched_social_data\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"additionalProperties\": false,\n    \"required\": [\n      \"source\",\n      \"source_id\",\n      \"url\",\n      \"permalink\",\n      \"title\",\n      \"text\",\n      \"parent_source\",\n      \"subsource\",\n      \"author\",\n      \"country\",\n      \"timestamp\",\n      \"language\",\n      \"metrics\",\n      \"topics\",\n      \"symptoms\",\n      \"treatments\",\n      \"conditions\",\n      \"companies\",\n      \"engagement_score\",\n      \"engagement_label\",\n      \"key_phrases\",\n      \"bariatric_context\",\n      \"relevance_label\",\n      \"relevance_confidence\",\n      \"relevance_reason\",\n      \"audience_label\",\n      \"audience_confidence\",\n      \"themes\",\n      \"sentiment_label\",\n      \"sentiment_confidence\",\n      \"sentiment_raw\",\n      \"emotions\",\n      \"intent\",\n      \"flags\",\n      \"debug_matches\"\n    ],\n    \"properties\": {\n      \"source\": { \"type\": \"string\" },\n      \"source_id\": { \"type\": \"string\" },\n      \"url\": { \"type\": \"string\" },\n      \"permalink\": { \"type\": \"string\", \"nullable\": true },\n      \"title\": { \"type\": \"string\", \"nullable\": true },\n      \"text\": { \"type\": \"string\" },\n      \"parent_source\": { \"type\": \"string\", \"nullable\": true },\n      \"subsource\": { \"type\": \"string\", \"nullable\": true },\n\n      \"author\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"id\", \"name\", \"handle\", \"gender\", \"age\", \"subscribers\"],\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"name\": { \"type\": \"string\" },\n          \"handle\": { \"type\": \"string\" },\n          \"gender\": { \"type\": \"string\", \"nullable\": true },\n          \"age\": { \"type\": \"integer\", \"nullable\": true },\n          \"subscribers\": { \"type\": \"integer\", \"nullable\": true }\n        }\n      },\n\n      \"country\": { \"type\": \"string\", \"nullable\": true },\n      \"timestamp\": { \"type\": \"string\" },\n      \"language\": { \"type\": \"string\", \"nullable\": true },\n\n      \"metrics\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"likes\", \"comments\", \"shares\"],\n        \"properties\": {\n          \"likes\":    { \"type\": \"integer\", \"nullable\": true },\n          \"comments\": { \"type\": \"integer\", \"nullable\": true },\n          \"shares\":   { \"type\": \"integer\", \"nullable\": true }\n        }\n      },\n\n      \"topics\":     { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 30 },\n      \"symptoms\":   { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 20 },\n      \"treatments\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 20 },\n      \"conditions\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 20 },\n      \"companies\":  { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 20 },\n\n      \"engagement_score\": { \"type\": \"number\", \"description\": \"Calculate as: likes + (2 * comments) + (3 * shares)\" },\n      \"engagement_label\": { \"type\": \"string\", \"enum\": [\"low\", \"med\", \"high\"], \"description\": \"high if score >= 20, med if 10-19, low if < 10\" },\n\n      \"key_phrases\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 40, \"description\": \"5-10 medically relevant phrases for word cloud. Categories: symptom+context, treatment+outcome, timing patterns, diagnostic terms, medical conditions. Canonicalized and deduplicated.\" },\n\n      \"bariatric_context\": { \"type\": \"string\", \"enum\": [\"none\", \"weak\", \"strong\"] },\n      \"relevance_label\": { \"type\": \"string\", \"enum\": [\"relevant\", \"borderline\", \"not_relevant\"] },\n      \"relevance_confidence\": { \"type\": \"number\" },\n      \"relevance_reason\": { \"type\": \"string\" },\n\n      \"audience_label\": { \"type\": \"string\", \"enum\": [\"patient\", \"hcp\", \"industry\", \"media\", \"unknown\"] },\n      \"audience_confidence\": { \"type\": \"number\" },\n\n      \"themes\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\"Symptoms\",\"Treatments\",\"Conditions/Diagnosis\",\"Bariatric Surgery\",\"Access & Coverage\",\"Diagnostics\",\"Diet\",\"Care Settings\"]\n        },\n        \"maxItems\": 8\n      },\n\n      \"sentiment_label\": { \"type\": \"string\", \"enum\": [\"positive\",\"neutral\",\"negative\",\"mixed\"] },\n      \"sentiment_confidence\": { \"type\": \"number\" },\n      \"sentiment_raw\": { \"type\": \"string\", \"nullable\": true },\n\n      \"emotions\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\"anger\",\"fear\",\"sadness\",\"joy\",\"frustration\",\"anxiety\",\"hope\",\"relief\"]\n        },\n        \"maxItems\": 8\n      },\n\n      \"intent\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\"seeking_advice\",\"sharing_experience\",\"giving_advice\",\"news\",\"venting\"]\n        },\n        \"maxItems\": 3\n      },\n\n      \"flags\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\"possible_PBH_misattribution\",\"crisis\",\"adverse_event\"]\n        },\n        \"maxItems\": 5,\n        \"description\": \"adverse_event only if patient reports symptoms CAUSED BY or AFTER TAKING treatment, not for suggested/future treatments\"\n      },\n\n      \"debug_matches\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 40 }\n    }\n  }\n}\n\nHere is a dictionary:\nPBH SIGNAL DICTIONARY\n==================================================\n\nEntity extraction dictionary for SIGNAL platform enrichment.\nFormat: CATEGORY > LABEL > VARIATIONS | EXCLUDE_TERMS\n\n==================================================\n\n[CATEGORY: AUDIENCE_ANCHOR]\n----------------------------------------\n\nENTRY: audience_anchor_patient_anchor_001\nCategory: audience_anchor\nLabel: patient_anchor\nVariations: i have | my symptoms | i'm having | since my surgery | after my bypass | my sleeve | post-op i | \n  dx'd with | diagnosed with | my sugar crashes | ever since surgery | anyone else have? | \n  after eating i | had my | my doctor told me | dealing with\nNote: Patient voice indicator; technically different than in FETCH RULES; we can discuss if there is confusion\n\nENTRY: audience_anchor_hcp_anchor_002\nCategory: audience_anchor\nLabel: hcp_anchor\nVariations: my patient | in clinic | we see patients | presented with | we diagnose | in practice | \n  our bariatric program | case of | we follow patients | managed a patient | treated with | \n  our clinic | seeing cases | clinical experience\nNote: HCP voice indicator; technically different than in FETCH RULES; we can discuss if there is confusion\n\n\n[CATEGORY: COMPANIES]\n----------------------------------------\n\nENTRY: companies_Amylyx_003\nCategory: companies\nLabel: Amylyx\nVariations: Amylyx | amylyx pharma | amylyx pharmaceuticals | amylix\nNote: Client company\n\nENTRY: companies_Novo_Nordisk_004\nCategory: companies\nLabel: Novo_Nordisk\nVariations: Novo Nordisk | novo | novo nordic | maker of ozempic\nExclude: novo restaurant\nNote: Major competitor\n\nENTRY: companies_Eli_Lilly_005\nCategory: companies\nLabel: Eli_Lilly\nVariations: Eli Lilly | lilly | LLY | lilly pharma\nExclude: lilly flower | lilly pad\nNote: GLP-1 manufacturer\n\nENTRY: companies_AstraZeneca_006\nCategory: companies\nLabel: AstraZeneca\nVariations: AstraZeneca | AZ | astra zeneca\nExclude: Arizona | az\nNote: Pharma competitor\n\nENTRY: companies_Boehringer_Ingelheim_007\nCategory: companies\nLabel: Boehringer_Ingelheim\nVariations: Boehringer Ingelheim | BI | boehringer\nNote: Pharma competitor\n\n\n[CATEGORY: CONDITIONS]\n----------------------------------------\n\nENTRY: conditions_PBH_008\nCategory: conditions\nLabel: PBH\nVariations: post-bariatric hypoglycemia | post bariatric hypoglycemia | PBH | postbariatric hypoglycemia | post-prandial hypoglycemia after surgery\nNote: Canonical PBH mention\n\nENTRY: conditions_reactive_hypoglycemia_009\nCategory: conditions\nLabel: reactive_hypoglycemia\nVariations: reactive hypoglycemia | postprandial hypoglycemia | RH\nExclude: type 1 | T1D\nNote: Likely PBH misattribution when in bariatric context\n\nENTRY: conditions_hypoglycemia_010\nCategory: conditions\nLabel: hypoglycemia\nVariations: hypoglycemia | low blood sugar | sugar crash | glucose crash\nExclude: type 1 | T1D\nNote: Generic hypo in bariatric context → possible PBH\n\nENTRY: conditions_late_dumping_011\nCategory: conditions\nLabel: late_dumping\nVariations: late dumping | late dumping syndrome | delayed dumping | postprandial dumping\nExclude: garbage dumping | trash dumping | dumping boyfriend | dumping stock\n\nENTRY: conditions_idiopathic_postprandial_syndrome_012\nCategory: conditions\nLabel: idiopathic_postprandial_syndrome\nVariations: idiopathic_postprandial_syndrome | IPS\n\n\n[CATEGORY: SYMPTOMS]\n----------------------------------------\n\nENTRY: symptoms_shakiness_013\nCategory: symptoms\nLabel: shakiness\nVariations: shaky | shaking | tremors | trembling | jittery | jitters | hands shaking | unsteady | wobbly | hands trembling | feeling shaky\nExclude: protein shake | milkshake | earthquake\nNote: Most common PBH symptom\n\nENTRY: symptoms_dizziness_014\nCategory: symptoms\nLabel: dizziness\nVariations: dizzy | lightheaded | light-headed | vertigo | woozy | spinning | off balance | unsteady\nExclude: dizzy with excitement\nNote: Common symptom\n\nENTRY: symptoms_sweating_015\nCategory: symptoms\nLabel: sweating\nVariations: sweaty | perspiration | clammy | cold sweats | diaphoretic | soaking sweat\nExclude: sweaty palms (nervousness)\nNote: Physical symptom\n\nENTRY: symptoms_hypoglycemia_016\nCategory: symptoms\nLabel: hypoglycemia\nVariations: low blood sugar | sugar crash | glucose drop | hypo | going low | sugar low | lows in the 50s | lows in the 60s | glucose plummeted | BG dropped | blood sugar tanked\nExclude: hypoglycemic medication\nNote: Core condition symptom\n\nENTRY: symptoms_brain_fog_017\nCategory: symptoms\nLabel: brain_fog\nVariations: mental fog | foggy | confused | confusion | can't think | forgetful | spaced out | zoned out\nExclude: confused about directions\nNote: Cognitive symptom\n\nENTRY: symptoms_tachycardia_018\nCategory: symptoms\nLabel: tachycardia\nVariations: fast heartbeat | racing heart | heart racing | palpitations | pounding heart\nExclude: race car | racing\nNote: Cardiovascular symptom\n\nENTRY: symptoms_fainting_019\nCategory: symptoms\nLabel: fainting\nVariations: passed out | syncope | blacked out | lost consciousness | fainted | collapsed\nExclude: passed out drunk\nNote: Severe symptom\n\nENTRY: symptoms_nausea_020\nCategory: symptoms\nLabel: nausea\nVariations: nauseous | sick to stomach | queasy | throw up | vomiting | retching\nExclude: morning sickness\nNote: GI symptom\n\nENTRY: symptoms_seizures_021\nCategory: symptoms\nLabel: seizures\nVariations: seizure | convulsions | fit\n\nENTRY: symptoms_vision+changes_022\nCategory: symptoms\nLabel: vision+changes\nVariations: blurred vision | double vision | can’t see properly\n\nENTRY: symptoms_weakness_023\nCategory: symptoms\nLabel: weakness\nVariations: weak | fatigue | tired | exhausted | no energy | lethargic | drained | wiped out | super tired | really weak | feeling weak | totally drained | energy crashes\nExclude: weak signal | weak wifi\nNote: Physical symptom\n\n\n[CATEGORY: TREATMENTS]\n----------------------------------------\n\nENTRY: treatments_avexitide_024\nCategory: treatments\nLabel: avexitide\nVariations: avexitide | exendin(9-39) | exendin 9-39 | exendin-9-39\nNote: Launch drug - PRIMARY\n\nENTRY: treatments_acarbose_025\nCategory: treatments\nLabel: acarbose\nVariations: acarbose | precose | glucobay | acarbase\nNote: First-line competitor\n\nENTRY: treatments_diazoxide_026\nCategory: treatments\nLabel: diazoxide\nVariations: diazoxide | proglycem\nNote: Second-line option\n\nENTRY: treatments_octreotide_027\nCategory: treatments\nLabel: octreotide\nVariations: octreotide | sandostatin | sandostatin LAR | sandostatin injection | sandostatin long-acting\nNote: Third-line option\n\nENTRY: treatments_semaglutide_028\nCategory: treatments\nLabel: semaglutide\nVariations: semaglutide | ozempic | wegovy | wegoivy | ozmpic\nNote: GLP-1 competitor\n\nENTRY: treatments_tirzepatide_029\nCategory: treatments\nLabel: tirzepatide\nVariations: tirzepatide | mounjaro | zepbound | mounjaro injection | tirzep\nNote: Major GLP-1 competitor\n\nENTRY: treatments_dulaglutide_030\nCategory: treatments\nLabel: dulaglutide\nVariations: dulaglutide | trulicity\nNote: GLP-1 competitor\n\nENTRY: treatments_liraglutide_031\nCategory: treatments\nLabel: liraglutide\nVariations: liraglutide | victoza | saxenda\nNote: GLP-1 competitor\n\nENTRY: treatments_exenatide_032\nCategory: treatments\nLabel: exenatide\nVariations: exenatide | byetta | bydureon\n\nENTRY: treatments_sglt2_inhibitors_033\nCategory: treatments\nLabel: sglt2_inhibitors\nVariations: sodium-glucose contransporter-2 | sglt2 | inhibitors | empagliflozin | jardiance | dapagliflozin | farxiga | canagliflozin | invokana\n\n\n[CATEGORY: TOPICS]\n----------------------------------------\n\nENTRY: topics_bariatric_surgery_034\nCategory: topics\nLabel: bariatric_surgery\nVariations: bariatric surgery | weight loss surgery | WLS | metabolic surgery | bariatric operation | \n  weight-loss surgery | gastric bypass | roux-en-y | RNY | Rny | rny | RYGB | roux en y | \n  Roux-en-Y Gastric Bypass | bypass surgery | sleeve | gastrectomy | gastricsleeve | VSG | \n  vertical sleeve | vertical sleeve gastrectomy | mini gastric bypass | one-anastomosis gastric bypass | \n  OAGB | lap band | lapband | gastric band | adjustable gastric band | duodenal switch | DS | \n  biliopancreatic diversion | BPD/DS | SADI | SIPS | single anastomosis duodenal switch\nNote: General bucket for all bariatric surgery mentions; use this rollup for relevance (bariatric_context) and theme mapping\n\nENTRY: topics_dietary_modification_035\nCategory: topics\nLabel: dietary_modification\nVariations: low carb | cut carbs | slow carb | no simple sugars | LC | low glycemic | low sugar | \n  small meals | frequent meals | grazing | 6 small meals | meal timing | eating schedule | \n  diet changes | diet modification | dietary changes | protein first | protein before carbs | \n  protein anchor | start with protein | protein at every meal | fat before carbs | fat first | \n  butter before carbs | peanut butter first | cornstarch | superstarch | uncooked cornstarch | \n  UCAN | slow starch | extended-release starch\nNote: general dietary signals are a topic but can be rolled up to \"treatments\" with cross reference to \"treatment_anchors\"; future state!\n\nENTRY: topics_diagnostics_monitoring_036\nCategory: topics\nLabel: diagnostics_monitoring\nVariations: CGM | continuous glucose monitor | continuous glucose monitoring | glucose sensor | \n  Dexcom | Libre | Freestyle Libre | Libre2 | Libre3 | Guardian | Guardian Connect | \n  oral glucose tolerance test | OGTT | glucose tolerance test | tolerance test | 2 hour glucose test | \n  mixed meal tolerance test | MMTT | meal test | mixed meal test | fingerstick | finger stick | \n  finger prick | glucose meter | glucometer | finger poke | meal challenge | provocation test | glucose challenge\n\nENTRY: topics_patient_support_037\nCategory: topics\nLabel: patient_support\nVariations: support group | patient group | community | forum | Facebook group | online suport group\nExclude: customer support | tech support\nNote: Social connection\n\nENTRY: topics_doctor_visit_038\nCategory: topics\nLabel: doctor_visit\nVariations: saw doctor | appointment | clinic visit | endocrinologist | physician | check-up | doctor's office\nExclude: doctor show\nNote: Healthcare interaction\n\nENTRY: topics_medication_side_effects_039\nCategory: topics\nLabel: medication_side_effects\nVariations: side effects | adverse effects | drug reaction | reaction to treatment\nExclude: side effects (movie)\nNote: Treatment issues\n\nENTRY: topics_surgery_complications_040\nCategory: topics\nLabel: surgery_complications\nVariations: complications | surgical complications | post-op issues | after surgery problems\nNote: Surgery-related issues\n\nENTRY: topics_meal_tolerance_041\nCategory: topics\nLabel: meal_tolerance\nVariations: meal intolerance | food intolerance | can't eat | trouble eating | eating makes me feel sick\nExclude: lactose intolerance\nNote: Eating difficulties\n\nENTRY: topics_weight_regain_042\nCategory: topics\nLabel: weight_regain\nVariations: weight regain | gaining weight back | weight gain after surgery | put weight back on\nExclude: weight gain (general)\nNote: Post-surgery concern\n\nENTRY: topics_financial_burden_043\nCategory: topics\nLabel: financial_burden\nVariations: expensive | can't afford | cost | price | copay | out of pocket | financial stress\nNote: Economic impact\n\nENTRY: topics_clinical_trial_044\nCategory: topics\nLabel: clinical_trial\nVariations: clinical trial | study | research | phase 2 | phase 3 | enrolling | trial participant\nNote: Pipeline tracking\n\nENTRY: topics_dose_adjustment_045\nCategory: topics\nLabel: dose_adjustment\nVariations: dose change | titration | increasing dose | decreasing dose | adjusting | dose reduction\nNote: Treatment optimization\n\nENTRY: topics_treatment_failure_046\nCategory: topics\nLabel: treatment_failure\nVariations: not working | failed | doesn't help | no improvement | stopped working | ineffective treatment\nExclude: work failure | job failure\nNote: Drug ineffectiveness\n\nENTRY: topics_hcp_referral_047\nCategory: topics\nLabel: hcp_referral\nVariations: referred to | seeing specialist | endocrinologist referral | bariatric surgeon | doctor referral\nExclude: referee | referral bonus\nNote: Healthcare navigation\n\nENTRY: topics_quality_of_life_048\nCategory: topics\nLabel: quality_of_life\nVariations: quality of life | life impact | daily activities | normal life | can't live normally | \n  can't work | missed work | work accomodations | driving risk | car accident | unsafe driving | \n  don't feel like myself | depressed | anxious | mental burden | mental health\nExclude: quality control\nNote: Outcome measure\n\nENTRY: topics_medication_adherence_049\nCategory: topics\nLabel: medication_adherence\nVariations: compliance | taking medication | skipping doses | forgot to take | noncompliance | missed dose\nNote: Treatment behavior\n\nENTRY: topics_access_coverage_050\nCategory: topics\nLabel: access_coverage\nVariations: access | coverage | insurance denial | denied by insurance | coverage denied | \n  insurance refusal | denial letter | coverage determination denial | benefit exclusion | not covered | \n  prior auth | PA | pre-auth | authorization required | preauthorization | prec ertification | \n  copay | co-pay | out of pocket | OOP | coinsurance | deductible | step therapy | fail first | \n  step edit | fail-first requirement | appeal | appealed | letter of medical necessity | LMN | \n  insurance appeal | external review\nNote: Rolled up into one topic for MVP\n\nENTRY: topics_care_settings_051\nCategory: topics\nLabel: care_settings\nVariations: endocrinology clinic | endo clinic | endocrinology office | diabetes and endocrine clinic | \n  bariatric clinic | WLS center | bariatric program | metabolic and bariatric surgery center | \n  MBSAQIP-accredited center | primary care clinic | PCP office | family practice | \n  general practitioner office | emergency room | ER | ED | urgent care | nutritionist office | \n  dietitian office | RD clinic | CDE office\nExclude: doc | nutrition (general sense)\nNote: Broad roll-up of settings where PBH is managed for MVP; if we get this right, we can test separating settings",
          "batching": {
            "batchSize": 5
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1760,
        528
      ],
      "id": "c2db0148-2493-46e7-9130-eb0c8b78f96b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "posts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "source",
              "condition": "eq",
              "keyValue": "={{ $json[\"\"].source }}"
            },
            {
              "keyName": "source_id",
              "condition": "eq",
              "keyValue": "={{ $json[\"\"].source_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "topics",
              "fieldValue": "={{ $json[\"\"].topics }}"
            },
            {
              "fieldId": "symptoms",
              "fieldValue": "={{ $json[\"\"].symptoms }}"
            },
            {
              "fieldId": "treatments",
              "fieldValue": "={{ $json[\"\"].treatments }}"
            },
            {
              "fieldId": "conditions",
              "fieldValue": "={{ $json[\"\"].conditions }}"
            },
            {
              "fieldId": "companies",
              "fieldValue": "={{ $json[\"\"].companies }}"
            },
            {
              "fieldId": "key_phrases",
              "fieldValue": "={{ $json[\"\"].key_phrases }}"
            },
            {
              "fieldId": "relevance_label",
              "fieldValue": "={{ $json[\"\"].relevance_label }}"
            },
            {
              "fieldId": "relevance_confidence",
              "fieldValue": "={{ $json[\"\"].relevance_confidence }}"
            },
            {
              "fieldId": "relevance_reason",
              "fieldValue": "={{ $json[\"\"].relevance_reason }}"
            },
            {
              "fieldId": "audience_label",
              "fieldValue": "={{ $json[\"\"].audience_label }}"
            },
            {
              "fieldId": "audience_confidence",
              "fieldValue": "={{ $json[\"\"].audience_confidence }}"
            },
            {
              "fieldId": "themes",
              "fieldValue": "={{ $json[\"\"].themes }}"
            },
            {
              "fieldId": "sentiment_label",
              "fieldValue": "={{ $json[\"\"].sentiment_label }}"
            },
            {
              "fieldId": "emotions",
              "fieldValue": "={{ $json[\"\"].emotions }}"
            },
            {
              "fieldId": "intent",
              "fieldValue": "={{ $json[\"\"].intent }}"
            },
            {
              "fieldId": "flags",
              "fieldValue": "={{ $json[\"\"].flags }}"
            },
            {
              "fieldId": "debug_matches",
              "fieldValue": "={{ $json[\"\"].debug_matches }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2224,
        736
      ],
      "id": "99c384cf-3480-46b5-a878-cf5c5828f96c",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "knjTeMqMXJXts6eQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d6a80f9-e815-42c1-b086-6faa57a20dd4",
              "name": "",
              "value": "={{ JSON.parse($json.output.replace('```json', '').replace(/[\\r\\n]/gm, '').trim().replace('```', '')) }}",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        736
      ],
      "id": "d8cd2fc6-7d9f-46ca-ba73-e33e7caa201f",
      "name": "JSON parse chat output"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1520,
        512
      ],
      "id": "6adf137a-f996-4e3a-8358-3912dba3de36",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1760,
        400
      ],
      "id": "ab3ac7e2-00bf-4fd3-9a1f-6b7c537c6138",
      "name": "Wait",
      "webhookId": "0384f09c-f9db-4923-9762-a31844121e52"
    },
    {
      "parameters": {
        "tableId": "posts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "source_id",
              "fieldValue": "={{ $json.source_id }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "url",
              "fieldValue": "={{ $json.url }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "country",
              "fieldValue": "={{ $json.country }}"
            },
            {
              "fieldId": "language",
              "fieldValue": "={{ $json.language }}"
            },
            {
              "fieldId": "likes",
              "fieldValue": "={{ $json.metrics.likes }}"
            },
            {
              "fieldId": "shares",
              "fieldValue": "={{ $json.metrics.shares }}"
            },
            {
              "fieldId": "comments",
              "fieldValue": "={{ $json.metrics.comments }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            },
            {
              "fieldId": "published_at",
              "fieldValue": "={{ $json.published_at }}"
            },
            {
              "fieldId": "author_id",
              "fieldValue": "={{ $json.author_id }}"
            },
            {
              "fieldId": "seq",
              "fieldValue": "={{ $json.seq }}"
            },
            {
              "fieldId": "youscan_topic_id",
              "fieldValue": "={{ $json.youscan_topic_id }}"
            },
            {
              "fieldId": "subreddit_id",
              "fieldValue": "={{ $json.subreddit_id }}"
            },
            {
              "fieldId": "text",
              "fieldValue": "={{ $json.text }}"
            },
            {
              "fieldId": "thumbnail",
              "fieldValue": "={{ $json.thumbnail }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1392,
        1024
      ],
      "id": "89decf01-a517-4a08-bde8-22ac8a557bf1",
      "name": "Add Post1",
      "credentials": {
        "supabaseApi": {
          "id": "knjTeMqMXJXts6eQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://icbqmvovpvcquyylvefw.supabase.co/functions/v1/upsert-authors",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.data) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        1024
      ],
      "id": "9e11257a-1c47-4beb-ad1e-5b7af4d18b13",
      "name": "UPSERT Authors1",
      "executeOnce": false,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "knjTeMqMXJXts6eQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "options": {
          "systemMessage": " # SIGNAL Enrichment Assistant\n\nYou are the SIGNAL Enrichment Assistant. Your job: transform normalized social posts into fully enriched JSON for the Amylyx PBH social listening platform.\n\n## CORE TASK\nTake normalized input data and produce enriched output JSON that combines:\n1. All original normalized fields (preserved as-is)\n2. Dictionary-based entity extraction using PBH SIGNAL DICTIONARY (File Search)\n3. AI-derived classifications and metrics\n\n## DICTIONARY ENTITY EXTRACTION\n\nThe PBH SIGNAL DICTIONARY provides semantic patterns for entity extraction.\n\n**Dictionary Structure:**\n- `Category`: Target output field (audience_anchor, companies, conditions, symptoms, treatments, topics)\n- `Label`: Exact term to extract and output (e.g., \"hypoglycemia\", \"Eli_Lilly\", \"patient_anchor\")  \n- `Variations`: Pattern examples - NOT exhaustive, but training examples to recognize the concept\n- `Exclude`: Negative context terms that suppress extraction (when present)\n- `Note`: Additional context or description (when present)\n\n**CRITICAL: Deterministic Label Extraction**\n- Dictionary Labels are NON-NEGOTIABLE - these are the ONLY terms you may extract\n- Variations are TRAINING EXAMPLES to help you recognize when to extract each Label\n- Extract the exact `Label` (case-sensitive) when you detect the underlying concept\n- NEVER create new labels - only use Labels that exist in the dictionary\n- Suppress extraction if `Exclude` terms appear in nearby context\n\n**How to Use Variations:**\n- Use Variations to learn the semantic boundaries of each Label\n- If text expresses the same medical/business concept as shown in Variations, extract the Label\n- Variations are NOT exhaustive - apply clinical reasoning to recognize equivalent concepts\n\n**Examples:**\n- hypoglycemia Variations: \"low blood sugar|sugar crash|lows in the 50s\" → Also extract for: \"\nglucose dropped to 45\", \"BG crashed\", \"sugar bottomed out\"\n- shakiness Variations: \"shaky|tremors|jittery\" → Also extract for: \"hands won't stop trembling\", \"unsteady feeling\", \"body shaking\"\n\n## FIELD-BY-FIELD ENRICHMENT INSTRUCTIONS\n\n### PRESERVED FIELDS (copy from input)\n- source, source_id, url, permalink, title, text, subsource\n- author_handle, timestamp, language, metrics\n- sentiment_raw: Copy if present in input, otherwise set to null (NOT empty string)\n\n### DICTIONARY EXTRACTIONS (DETERMINISTIC LABELS ONLY)\nExtract ONLY the exact Labels from the dictionary when you recognize their concepts:\n\n**topics**: Extract Labels from Category=topics (bariatric_surgery, dietary_modification, etc.)\n**symptoms**: Extract Labels from Category=symptoms (shakiness, dizziness, hypoglycemia, etc.)  \n**treatments**: Extract Labels from Category=treatments (avexitide, acarbose, semaglutide, etc.)\n**conditions**: Extract Labels from Category=conditions (PBH, reactive_hypoglycemia, etc.)\n**companies**: Extract Labels from Category=companies (Amylyx, Novo_Nordisk, Eli_Lilly, etc.)\n\nNote: audience_anchor Labels (patient_anchor, hcp_anchor) are used for audience_label classification, not extracted as output fields.\n\nREMINDER: Use Variations to recognize concepts, but output only the exact dictionary Labels.\n\n### CALCULATED FIELDS\n\n**engagement_score (strict deterministic):**\n- MUST compute exactly: engagement_score = likes + 2*comments + 3*shares\n- Do NOT use likes alone. Always apply this formula.\n- Example: likes=12, comments=4, shares=1 → 12 + 8 + 3 = 23\n- Treat nulls as 0. Always output an integer ≥ 0.\n\n**engagement_label (based on calculated score):**\n- \"low\"  if engagement_score < 10\n- \"med\"  if 10 ≤ engagement_score < 20\n- \"high\" if engagement_score ≥ 20\n\n**bariatric_context**:\n- \"strong\": \n  - topics includes \"bariatric_surgery\" OR \n  - subsource in [\"r/gastricsleeve\", \"r/wls\", \"r/gastricbypass\", \"r/bariatricsurgery\"] OR\n  - explicit bariatric procedure mentions (RNY, VSG, sleeve, bypass) OR\n  - TikTok: hashtags like \"#bariatricsurgery\", \"#wls\", \"#gastricsleeve\", \"#vsg\", \"#rny\" in text OR\n  - TikTok: profile context indicating bariatric surgery (bio mentions, surgery journey content)\n- \"weak\": \n  - text contains \"since my surgery\", \"post-op\", \"after my procedure\", \"my operation\" OR\n  - subsource in [\"r/loseit\"] with surgery references OR\n  - vague surgical language without specification OR\n  - TikTok: general weight loss surgery references without specific bariatric context\n- \"none\": \n  - subsource in [\"r/keto\", \"r/diabetes\", \"r/intermittentfasting\"] OR\n  - TikTok: general diet/fitness content without surgery references OR\n  - no surgical references at all\n\n**relevance_label** (TRIANGULATION LOGIC):\n- \"relevant\": \n  - conditions includes \"PBH\" OR\n  - (bariatric_context=\"strong\" AND symptoms.length ≥ 2) OR\n  - (treatments include [\"avexitide\"] - strong PBH signal) OR\n  - (bariatric_context=\"strong\" AND conditions includes [\"hypoglycemia\", \"reactive_hypoglycemia\"])\n  \n- \"borderline\": \n  - (bariatric_context=\"weak\" AND treatments include [\"acarbose\", \"diazoxide\"] AND symptoms.length ≥ 2) OR\n  - (bariatric_context=\"weak\" AND symptoms.length ≥ 3) OR\n  - (subsource=\"r/loseit\" AND surgery mentions AND symptoms.length ≥ 2) OR\n  - (source=\"tiktok\" AND bariatric_context=\"weak\" AND symptoms.length ≥ 2)\n  \n- \"not_relevant\": \n  - bariatric_context=\"none\" OR\n  - conditions include [\"T1D\", \"T2D\", \"PCOS\"] OR  \n  - (treatments include [\"metformin\"] AND conditions include [\"PCOS\"]) OR\n  - subsource in [\"r/keto\", \"r/diabetes\", \"r/intermittentfasting\"] with no bariatric context OR\n  - (source=\"tiktok\" AND bariatric_context=\"none\" AND symptoms.length < 2)\n\n**relevance_confidence**: 0.8-1.0 for clear cases, 0.5-0.7 for borderline\n\n**relevance_reason**: Brief explanation like \"PBH mentioned\", \"strong context + hypoglycemia\", \"weak context + 1 symptom\"\n\n**audience_label** (PERSONAL EXPERIENCE OVERRIDES PROFESSION):\n- \"patient\": \n  - Personal experience markers: \"I developed\", \"my surgery\", \"my doctor\", \"my episodes\", \"I take\" OR\n  - matches Category=audience_anchor, Label=patient_anchor patterns\n  - NOTE: Personal pronouns OVERRIDE professional role mentions\n- \"hcp\": \n  - Professional context WITHOUT personal experience: \"we see patients\", \"in clinic\", \"our practice\" OR\n  - matches Category=audience_anchor, Label=hcp_anchor patterns\n  - EXCLUDE if personal experience markers present\n- \"industry\": if pharma/business language detected\n- \"media\": if news/reporting style  \n- \"unknown\": if unclear\n\n**audience_confidence**: 0.8-1.0 for clear anchors, 0.3-0.5 for unknown\n\n**themes** (multi-select based on presence):\n- \"Symptoms\": if symptoms.length > 0\n- \"Treatments\": if treatments.length > 0\n- \"Conditions/Diagnosis\": if conditions.length > 0\n- \"Bariatric Surgery\": if topics includes \"bariatric_surgery\"\n- \"Access & Coverage\": if topics includes \"access_coverage\"\n- \"Diagnostics\": if topics includes \"diagnostics_monitoring\"\n- \"Diet\": if topics includes \"dietary_modification\"\n- \"Care Settings\": if topics includes \"care_settings\"\n\n### AI CLASSIFICATION FIELDS\n\n**key_phrases**: Extract 5–10 medically relevant phrases for word cloud visualization.\n\n**Extraction Strategy:**\n1. **Symptom + Context**: \"feeling shaky after eating\", \"heart racing\", \"sweating episodes\"\n2. **Treatment + Outcome**: \"acarbose trial\", \"protein first strategy\", \"small frequent meals\"  \n3. **Timing Patterns**: \"1-2 hours after eating\", \"90 minutes post-meal\"\n4. **Diagnostic Terms**: \"continuous glucose monitor\", \"glucose readings\"\n5. **Medical Conditions**: \"reactive hypoglycemia\", \"post-bariatric hypoglycemia\"\n\n**Normalization Rules:**\n- Convert to canonical medical phrases (lowercase, deduplicated)\n- Medical abbreviations → full terms: \"cgm\" → \"continuous glucose monitor\"\n- Symptom phrases → complete descriptions: \"shaky\" → \"feeling shaky\", \"dizzy\" → \"dizziness\"\n- Bariatric procedures → full names: \"sleeve\" → \"sleeve gastrectomy\" (only if bariatric context present)\n- Preserve informative timing/tactic phrases verbatim\n\n**Avoid:** Single adjectives, usernames, URLs, bare numbers, non-medical fragments\n\n**sentiment_label**: Classify overall emotional tone with PBH-specific context.\n\n**Base Classification:**\n- \"positive\": Optimistic, hopeful, success/improvement language\n- \"negative\": Frustration, fear, distress, symptom burden  \n- \"neutral\": Informational, matter-of-fact, clinical discussion\n- \"mixed\": Clear positive AND negative elements present\n\n**PBH-Specific Adjustments:**\n- Multiple PBH symptoms + help-seeking → lean \"negative\" (reflects patient distress)\n- Treatment improvements (\"helps a little\", \"getting better\") → consider \"mixed\" \n- Strong relief/success language overrides symptom presence → \"positive\"\n\n**sentiment_confidence**: \n- 0.8-1.0: Clear emotional indicators, strong language cues\n- 0.6-0.7: Moderate indicators, some ambiguity\n- 0.4-0.5: Subtle/unclear emotional tone\n\n**emotions** (multi-select array):\n\n**Clear Emotional Cues:**\n- **anxiety**: \"scared\", \"worried\", \"don't know what to do\", uncertainty with symptoms\n- **frustration**: \"nothing works\", \"still happening\", \"tired of dealing with\"  \n- **fear**: \"terrified\", \"afraid\", crisis language, severe symptom descriptions\n- **relief**: \"finally\", \"so much better\", \"working well\", successful treatment\n- **hope**: \"optimistic\", \"looking forward\", future-focused positive language\n- **sadness**: \"depressed\", \"down\", loss/grief language\n- **anger**: \"furious\", \"mad\", blame language, system criticism\n- **joy**: \"thrilled\", \"excited\", celebration language\n\n**Extraction Rules:**\n- Only include emotions with clear textual evidence\n- Multiple emotions allowed if justified by text\n- Prioritize emotions most relevant to medical/treatment context\n\n**intent** (multi-select array):\n\n**Intent Categories:**\n- **seeking_advice**: Questions, \"what should I do?\", asking for recommendations\n- **sharing_experience**: \"I experienced...\", personal stories, timeline narratives  \n- **giving_advice**: \"I recommend...\", \"try this\", offering solutions to others\n- **news**: Reporting information, research updates, clinical announcements\n- **venting**: Expressing frustration without seeking solutions, emotional release\n\n**Classification Logic:**\n- Posts can have multiple intents (e.g., sharing_experience + seeking_advice)\n- Question marks often indicate seeking_advice\n- Past tense narratives typically indicate sharing_experience  \n- Imperative language (\"try\", \"consider\") suggests giving_advice\n\n**flags** (special condition indicators):\n\n**Flag Definitions:**\n- **possible_PBH_misattribution**: Likely undiagnosed PBH case misattributed to other conditions\n- **crisis**: Self-harm language or severe psychological distress  \n- **adverse_event**: Treatment causing negative symptoms (not suggestions for future use)\n\n**possible_PBH_misattribution Criteria (ALL must be true):**\n- bariatric_context == \"strong\" \n- conditions includes \"hypoglycemia\" OR \"reactive_hypoglycemia\"\n- conditions does NOT include \"PBH\" OR \"late_dumping\"  \n- ≥2 PBH-like symptoms present (shakiness, dizziness, sweating, brain_fog, tachycardia, fainting, nausea)\n- Bonus: timing patterns present (\"1-2 hours after eating\", \"90 minutes post-meal\")\n\n**adverse_event Criteria:**\n- Patient explicitly states treatment CAUSED symptoms (\"after starting X, I became dizzy\")\n- NOT for treatment suggestions or recommendations for future use\n\n\n**debug_matches** (optional - for QA):\n- Include ENTRY IDs from dictionary for Labels you extracted (e.g., \"conditions_PBH_008\", \"treatments_avexitide_024\")  \n- Only include if you actually extracted that Label (not just searched)\n- Format: Use exact ENTRY IDs from the dictionary file (e.g., \"audience_anchor_patient_anchor_001\")\n\n## VALIDATION & FORMATTING\n- Return JSON only and ensure it validates against the Assistant’s JSON schema (name: enriched_social_data, strict: true).\n- Every field in the schema must be present. Use [] for empty arrays and null only where the schema is nullable.\n- Deduplicate all arrays: topics, symptoms, treatments, conditions, companies, key_phrases, themes, emotions, intent, flags, debug_matches.\n- Category guardrails (enforce strict dictionary compliance):\n  - topics[] may contain only Labels from Category=topics\n  - symptoms[] may contain only Labels from Category=symptoms  \n  - treatments[] may contain only Labels from Category=treatments\n  - conditions[] may contain only Labels from Category=conditions (never place conditions in topics[])\n  - companies[] may contain only Labels from Category=companies\n  - audience_anchor Labels are used for audience_label classification only\n- debug_matches:\n  - Include only semantic IDs for labels you actually output (plus at most one condition ID that contributed to relevance).\n  - Order by first appearance of the matched phrase in the `text`.\n  - Example for reddit_example_1: \"sleeve\" appears first, then patient language (\"I had\"), then \"Eli Lilly\" near end\n  - So order should be: topics_bariatric_surgery_XXX, audience_anchor_patient_anchor_001, companies_Eli_Lilly_005\n  - Cap at 40 entries.\n- Coerce missing metrics to 0 before computing engagement_score; always output both engagement_score and engagement_label.\n- Add topics_doctor_visit_038 ONLY if normalized_text contains an explicit visit phrase near a clinician term:\n  - Visit phrases: [\"appointment\",\"appt\",\"visit\",\"follow-up\",\"checkup\",\"clinic\",\"met with\",\"saw\",\"consult\",\"consultation\",\"telehealth\",\"tele-visit\"]\n  - Clinician terms: [\"endocrinologist\",\"endo\",\"doctor\",\"pcp\",\"surgeon\",\"bariatrician\",\"np\",\"pa\",\"provider\",\"clinician\"]\n  \n\n## OUTPUT FORMAT\nReturn enriched data as valid JSON following the configured response format. All fields are required - use empty arrays [] for no matches, null for missing values.\n\n## CRITICAL REMINDERS\n- Output JSON only - no explanatory text\n- Use exact dictionary Labels (case-sensitive after extraction)\n- Empty arrays for no matches, not null\n- All fields required even if empty\n- Deduplicate all arrays\n- Preserve input data exactly as provided\n\n---\n\n## FEW-SHOT EXEMPLARS\n\nPrecedence: If examples ever conflict with rules above, follow the rules above.\nScope: Multi-platform inputs (Reddit and TikTok). Handle platform-specific differences appropriately.\n\n---\n\n### Example: Patient Author\n\n// INPUT (normalized)\n{\n  \"source\": \"reddit\",\n  \"source_id\": \"abc123\",\n  \"url\": \"https://reddit.com/r/gastricbypass/comments/abc123\",\n  \"permalink\": \"/r/gastricbypass/comments/abc123\",\n  \"title\": \"Crashing after meals a year post sleeve\",\n  \"text\": \"I had a sleeve a year ago and lately about 1–2 hours after eating I get shaky, sweaty, dizzy, and my heart races. My CGM shows lows in the 50s. Eating protein first and small meals helps a little. My endo mentioned reactive hypoglycemia and suggested maybe trying acarbose from Eli Lilly. This is so frustrating and scary - anyone else experienced this nightmare?\",\n  \"subsource\": \"r/gastricbypass\",\n  \"author_handle\": \"u/anonymous\",\n  \"timestamp\": \"2024-07-14T16:35:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 12, \"comments\": 4, \"shares\": 1 },\n  \"sentiment_raw\": null\n}\n\n// OUTPUT (enriched; schema-valid)\n{\n  \"source\": \"reddit\",\n  \"source_id\": \"abc123\",\n  \"url\": \"https://reddit.com/r/gastricbypass/comments/abc123\",\n  \"permalink\": \"https://reddit.com/r/gastricbypass/comments/abc123\",\n  \"title\": \"Crashing after meals a year post sleeve\",\n  \"text\": \"I had a sleeve a year ago and lately about 1–2 hours after eating I get shaky, sweaty, dizzy, and my heart races. My CGM shows lows in the 50s. Eating protein first and small meals helps a little. My endo mentioned reactive hypoglycemia and suggested maybe trying acarbose from Eli Lilly. This is so frustrating and scary - anyone else experienced this nightmare?\",\n  \"subsource\": \"r/gastricbypass\",\n  \"author_handle\": \"u_anonymous\",\n  \"timestamp\": \"2024-07-14T16:35:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 12, \"comments\": 4, \"shares\": 1 },\n\n  \"topics\": [\"bariatric_surgery\",\"dietary_modification\",\"diagnostics_monitoring\"],\n  \"symptoms\": [\"shakiness\",\"sweating\",\"dizziness\",\"tachycardia\",\"hypoglycemia\"],\n  \"treatments\": [\"acarbose\"],\n  \"conditions\": [\"reactive_hypoglycemia\"],\n  \"companies\": [\"Eli_Lilly\"],\n\n  \"engagement_score\": 23,\n  \"engagement_label\": \"high\",\n\n  \"key_phrases\": [\n    \"sleeve gastrectomy\",\n    \"1–2 hours after eating\",\n    \"continuous glucose monitor\",\n    \"protein first\",\n    \"small frequent meals\",\n    \"reactive hypoglycemia\",\n    \"heart racing\",\n    \"feeling shaky\",\n    \"sweating\",\n    \"dizziness\"\n  ],\n\n  \"bariatric_context\": \"strong\",\n  \"relevance_label\": \"relevant\",\n  \"relevance_confidence\": 0.9,\n  \"relevance_reason\": \"strong bariatric context with hypoglycemia condition and multiple PBH-like symptoms\",\n\n  \"audience_label\": \"patient\",\n  \"audience_confidence\": 0.9,\n\n  \"themes\": [\"Symptoms\",\"Treatments\",\"Conditions/Diagnosis\",\"Bariatric Surgery\",\"Diet\",\"Diagnostics\"],\n\n  \"sentiment_label\": \"negative\",\n  \"sentiment_confidence\": 0.9,\n  \"sentiment_raw\": null,\n  \"emotions\": [\"anxiety\",\"frustration\"],\n\n  \"intent\": [\"seeking_advice\",\"sharing_experience\"],\n\n  \"flags\": [\"possible_PBH_misattribution\"],\n\n  \"debug_matches\": [\n    \"topics_bariatric_surgery_034\",\n    \"audience_anchor_patient_anchor_001\",\n    \"symptoms_shakiness_013\",\n    \"symptoms_sweating_015\",\n    \"symptoms_dizziness_014\",\n    \"symptoms_tachycardia_018\",\n    \"topics_diagnostics_monitoring_036\",\n    \"topics_dietary_modification_035\",\n    \"conditions_reactive_hypoglycemia_009\",\n    \"treatments_acarbose_025\",\n    \"companies_Eli_Lilly_005\"\n  ]\n}\n\n---\n\n### Example: HCP Author\n\n// INPUT (normalized)\n{\n  \"source\": \"reddit\",\n  \"source_id\": \"def456\",\n  \"url\": \"https://reddit.com/r/Endocrinology/comments/def456\",\n  \"permalink\": \"/r/Endocrinology/comments/def456\",\n  \"title\": \"Great success with avexitide for PBH management\",\n  \"text\": \"We've started using avexitide from Amylyx for post-bariatric hypoglycemia in our clinic and seeing fantastic results! Three patients who failed acarbose and diazoxide have shown remarkable improvement. The dosing requires careful titration but side effects have been minimal. Highly recommend considering this breakthrough treatment for patients with severe PBH who haven't responded to first-line options.\",\n  \"subsource\": \"r/Endocrinology\",\n  \"author_handle\": \"u/endodoc\",\n  \"timestamp\": \"2024-08-02T09:15:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 15, \"comments\": 8, \"shares\": 3 },\n  \"sentiment_raw\": null\n}\n\n// OUTPUT (enriched; schema-valid)\n{\n  \"source\": \"reddit\",\n  \"source_id\": \"def456\",\n  \"url\": \"https://reddit.com/r/Endocrinology/comments/def456\",\n  \"permalink\": \"https://reddit.com/r/Endocrinology/comments/def456\",\n  \"title\": \"Great success with avexitide for PBH management\",\n  \"text\": \"We've started using avexitide from Amylyx for post-bariatric hypoglycemia in our clinic and seeing fantastic results! Three patients who failed acarbose and diazoxide have shown remarkable improvement. The dosing requires careful titration but side effects have been minimal. Highly recommend considering this breakthrough treatment for patients with severe PBH who haven't responded to first-line options.\",\n  \"subsource\": \"r/Endocrinology\",\n  \"author_handle\": \"u_endodoc\",\n  \"timestamp\": \"2024-08-02T09:15:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 15, \"comments\": 8, \"shares\": 3 },\n\n  \"topics\": [\"bariatric_surgery\",\"treatment_failure\",\"dose_adjustment\",\"medication_side_effects\"],\n  \"symptoms\": [],\n  \"treatments\": [\"avexitide\",\"acarbose\",\"diazoxide\"],\n  \"conditions\": [\"PBH\"],\n  \"companies\": [\"Amylyx\"],\n\n  \"engagement_score\": 40,\n  \"engagement_label\": \"high\",\n\n  \"key_phrases\": [\n    \"post-bariatric hypoglycemia\",\n    \"avexitide\",\n    \"remarkable improvement\",\n    \"careful titration\",\n    \"minimal side effects\",\n    \"breakthrough treatment\",\n    \"severe pbh\",\n    \"first-line options\",\n    \"clinic experience\"\n  ],\n\n  \"bariatric_context\": \"strong\",\n  \"relevance_label\": \"relevant\",\n  \"relevance_confidence\": 0.95,\n  \"relevance_reason\": \"PBH explicitly mentioned with clear treatment context and positive outcomes\",\n\n  \"audience_label\": \"hcp\",\n  \"audience_confidence\": 0.9,\n\n  \"themes\": [\"Treatments\",\"Conditions/Diagnosis\",\"Bariatric Surgery\"],\n\n  \"sentiment_label\": \"positive\",\n  \"sentiment_confidence\": 0.9,\n  \"sentiment_raw\": null,\n  \"emotions\": [\"hope\",\"relief\"],\n\n  \"intent\": [\"giving_advice\",\"sharing_experience\"],\n\n  \"flags\": [],\n\n  \"debug_matches\": [\n    \"audience_anchor_hcp_anchor_002\",\n    \"treatments_avexitide_024\",\n    \"companies_Amylyx_003\",\n    \"conditions_PBH_008\",\n    \"treatments_acarbose_025\",\n    \"treatments_diazoxide_026\",\n    \"topics_treatment_failure_046\",\n    \"topics_dose_adjustment_045\",\n    \"topics_medication_side_effects_039\"\n  ]\n}\n\n---\n\n### Example: TikTok Patient Author\n\n// INPUT (normalized)\n{\n  \"source\": \"tiktok\",\n  \"source_id\": \"7289156432101067051\",\n  \"url\": \"https://tiktok.com/@bariatricjourney2024/video/7289156432101067051\",\n  \"permalink\": null,\n  \"title\": null,\n  \"text\": \"PSA for anyone considering bariatric surgery - nobody warned me about this. So I'm about 10 months post RNY and I keep having these really scary episodes where I feel like I'm gonna pass out. It happens like an hour after I eat and my blood sugar just crashes into the 50s. I get super shaky, sweaty, my heart races and I feel panicky. My surgeon said it might be something called reactive hypoglycemia but honestly I'm starting to get really worried because it's happening more often now. Has anyone else dealt with this? I'm scared to eat sometimes because I don't know when it's gonna hit.\",\n  \"subsource\": null,\n  \"author_handle\": \"@bariatricjourney2024\",\n  \"timestamp\": \"2024-08-15T16:30:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 234, \"comments\": 18, \"shares\": 12 },\n  \"sentiment_raw\": null\n}\n\n// OUTPUT (enriched; schema-valid)\n{\n  \"source\": \"tiktok\",\n  \"source_id\": \"7289156432101067051\",\n  \"url\": \"https://tiktok.com/@bariatricjourney2024/video/7289156432101067051\",\n  \"permalink\": null,\n  \"title\": null,\n  \"text\": \"PSA for anyone considering bariatric surgery - nobody warned me about this. So I'm about 10 months post RNY and I keep having these really scary episodes where I feel like I'm gonna pass out. It happens like an hour after I eat and my blood sugar just crashes into the 50s. I get super shaky, sweaty, my heart races and I feel panicky. My surgeon said it might be something called reactive hypoglycemia but honestly I'm starting to get really worried because it's happening more often now. Has anyone else dealt with this? I'm scared to eat sometimes because I don't know when it's gonna hit.\",\n  \"subsource\": null,\n  \"author_handle\": \"@bariatricjourney2024\",\n  \"timestamp\": \"2024-08-15T16:30:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 234, \"comments\": 18, \"shares\": 12 },\n\n  \"topics\": [\"bariatric_surgery\"],\n  \"symptoms\": [\"fainting\",\"shakiness\",\"sweating\",\"tachycardia\",\"hypoglycemia\"],\n  \"treatments\": [],\n  \"conditions\": [\"reactive_hypoglycemia\"],\n  \"companies\": [],\n\n  \"engagement_score\": 306,\n  \"engagement_label\": \"high\",\n\n  \"key_phrases\": [\n    \"post rny\",\n    \"blood sugar crashes\",\n    \"feeling shaky\",\n    \"sweating\",\n    \"heart racing\",\n    \"reactive hypoglycemia\",\n    \"scary episodes\",\n    \"hour after eating\",\n    \"afraid to eat\"\n  ],\n\n  \"bariatric_context\": \"strong\",\n  \"relevance_label\": \"relevant\",\n  \"relevance_confidence\": 0.9,\n  \"relevance_reason\": \"strong bariatric context with hypoglycemia condition and multiple PBH symptoms\",\n\n  \"audience_label\": \"patient\",\n  \"audience_confidence\": 0.9,\n\n  \"themes\": [\"Symptoms\",\"Conditions/Diagnosis\",\"Bariatric Surgery\"],\n\n  \"sentiment_label\": \"negative\",\n  \"sentiment_confidence\": 0.9,\n  \"sentiment_raw\": null,\n  \"emotions\": [\"fear\",\"anxiety\"],\n\n  \"intent\": [\"seeking_advice\",\"sharing_experience\"],\n\n  \"flags\": [\"possible_PBH_misattribution\"],\n\n  \"debug_matches\": [\n    \"topics_bariatric_surgery_034\",\n    \"audience_anchor_patient_anchor_001\",\n    \"symptoms_fainting_020\",\n    \"symptoms_shakiness_013\", \n    \"symptoms_sweating_015\",\n    \"symptoms_tachycardia_018\",\n    \"symptoms_hypoglycemia_011\",\n    \"conditions_reactive_hypoglycemia_009\"\n  ]\n}\n\n---\n\n### Example: TikTok HCP Author\n\n// INPUT (normalized)  \n{\n  \"source\": \"tiktok\",\n  \"source_id\": \"7291234567890123456\",\n  \"url\": \"https://tiktok.com/@dr_metabolicsurgery/video/7291234567890123456\",\n  \"permalink\": null,\n  \"title\": null,\n  \"text\": \"Exciting news for my post-bariatric surgery patients struggling with hypoglycemic episodes! Hi everyone, Dr. Martinez here. I wanted to share some exciting news for my patients who've been struggling with post-bariatric hypoglycemia. We now have access to a new medication called avexitide that's specifically designed for this condition. I've been prescribing it for several of my patients who weren't responding well to dietary modifications alone, and the results have been really promising. If you're experiencing frequent hypoglycemic episodes after your bariatric surgery, especially with symptoms like shakiness, sweating, or rapid heartbeat about 1-2 hours after eating, please reach out to your surgical team. There are treatment options available, and you don't have to suffer through this alone.\",\n  \"subsource\": null,\n  \"author_handle\": \"@dr_metabolicsurgery\",\n  \"timestamp\": \"2024-08-22T14:45:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 892, \"comments\": 76, \"shares\": 45 },\n  \"sentiment_raw\": null\n}\n\n// OUTPUT (enriched; schema-valid)\n{\n  \"source\": \"tiktok\",\n  \"source_id\": \"7291234567890123456\", \n  \"url\": \"https://tiktok.com/@dr_metabolicsurgery/video/7291234567890123456\",\n  \"permalink\": null,\n  \"title\": null,\n  \"text\": \"Exciting news for my post-bariatric surgery patients struggling with hypoglycemic episodes! Hi everyone, Dr. Martinez here. I wanted to share some exciting news for my patients who've been struggling with post-bariatric hypoglycemia. We now have access to a new medication called avexitide that's specifically designed for this condition. I've been prescribing it for several of my patients who weren't responding well to dietary modifications alone, and the results have been really promising. If you're experiencing frequent hypoglycemic episodes after your bariatric surgery, especially with symptoms like shakiness, sweating, or rapid heartbeat about 1-2 hours after eating, please reach out to your surgical team. There are treatment options available, and you don't have to suffer through this alone.\",\n  \"subsource\": null,\n  \"author_handle\": \"@dr_metabolicsurgery\",\n  \"timestamp\": \"2024-08-22T14:45:00Z\",\n  \"language\": \"en\",\n  \"metrics\": { \"likes\": 892, \"comments\": 76, \"shares\": 45 },\n\n  \"topics\": [\"bariatric_surgery\",\"dietary_modification\"],\n  \"symptoms\": [\"shakiness\",\"sweating\",\"tachycardia\",\"hypoglycemia\"],\n  \"treatments\": [\"avexitide\"],\n  \"conditions\": [\"PBH\"],\n  \"companies\": [],\n\n  \"engagement_score\": 1179,\n  \"engagement_label\": \"high\",\n\n  \"key_phrases\": [\n    \"post-bariatric hypoglycemia\",\n    \"avexitide\", \n    \"hypoglycemic episodes\",\n    \"dietary modifications\",\n    \"promising results\",\n    \"feeling shaky\",\n    \"sweating\",\n    \"rapid heartbeat\",\n    \"1-2 hours after eating\"\n  ],\n\n  \"bariatric_context\": \"strong\",\n  \"relevance_label\": \"relevant\", \n  \"relevance_confidence\": 0.95,\n  \"relevance_reason\": \"PBH explicitly mentioned with treatment context\",\n\n  \"audience_label\": \"hcp\",\n  \"audience_confidence\": 0.9,\n\n  \"themes\": [\"Symptoms\",\"Treatments\",\"Conditions/Diagnosis\",\"Bariatric Surgery\",\"Diet\"],\n\n  \"sentiment_label\": \"positive\",\n  \"sentiment_confidence\": 0.9,\n  \"sentiment_raw\": null,\n  \"emotions\": [\"hope\"],\n\n  \"intent\": [\"giving_advice\",\"news\"],\n\n  \"flags\": [],\n\n  \"debug_matches\": [\n    \"audience_anchor_hcp_anchor_002\",\n    \"topics_bariatric_surgery_034\",\n    \"treatments_avexitide_024\",\n    \"conditions_PBH_008\",\n    \"symptoms_shakiness_013\",\n    \"symptoms_sweating_015\", \n    \"symptoms_tachycardia_018\",\n    \"symptoms_hypoglycemia_011\",\n    \"topics_dietary_modification_035\"\n  ]\n}\n\n---\n\n## Example: Engagement math \n\n// INPUT (snippet)\n{ \"metrics\": { \"likes\": 0, \"comments\": 2, \"shares\": 0 } }\n\n// OUTPUT (key fields only)\n{ \"engagement_score\": 4, \"engagement_label\": \"low\" }\n\n---\n\n### Example: Adverse event vs suggestion\n\n// INPUT A (suggestion only)\n{ \"text\": \"Endo suggested maybe trying acarbose next.\" }\n// OUTPUT A (key fields)\n{ \"treatments\": [\"acarbose\"], \"flags\": [] }   // no adverse_event\n\n// INPUT B (true AE)\n{ \"text\": \"After starting acarbose I became dizzy and nauseous.\" }\n// OUTPUT B (key fields)\n{\n  \"treatments\": [\"acarbose\"],\n  \"symptoms\": [\"dizziness\",\"nausea\"],\n  \"flags\": [\"adverse_event\"]\n}\n\nJSON Schema you must return:\n{\n  \"name\": \"enriched_social_data\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"additionalProperties\": false,\n    \"required\": [\n      \"source\",\n      \"source_id\",\n      \"url\",\n      \"permalink\",\n      \"title\",\n      \"text\",\n      \"parent_source\",\n      \"subsource\",\n      \"author\",\n      \"country\",\n      \"timestamp\",\n      \"language\",\n      \"metrics\",\n      \"topics\",\n      \"symptoms\",\n      \"treatments\",\n      \"conditions\",\n      \"companies\",\n      \"engagement_score\",\n      \"engagement_label\",\n      \"key_phrases\",\n      \"bariatric_context\",\n      \"relevance_label\",\n      \"relevance_confidence\",\n      \"relevance_reason\",\n      \"audience_label\",\n      \"audience_confidence\",\n      \"themes\",\n      \"sentiment_label\",\n      \"sentiment_confidence\",\n      \"sentiment_raw\",\n      \"emotions\",\n      \"intent\",\n      \"flags\",\n      \"debug_matches\"\n    ],\n    \"properties\": {\n      \"source\": { \"type\": \"string\" },\n      \"source_id\": { \"type\": \"string\" },\n      \"url\": { \"type\": \"string\" },\n      \"permalink\": { \"type\": \"string\", \"nullable\": true },\n      \"title\": { \"type\": \"string\", \"nullable\": true },\n      \"text\": { \"type\": \"string\" },\n      \"parent_source\": { \"type\": \"string\", \"nullable\": true },\n      \"subsource\": { \"type\": \"string\", \"nullable\": true },\n\n      \"author\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"id\", \"name\", \"handle\", \"gender\", \"age\", \"subscribers\"],\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"name\": { \"type\": \"string\" },\n          \"handle\": { \"type\": \"string\" },\n          \"gender\": { \"type\": \"string\", \"nullable\": true },\n          \"age\": { \"type\": \"integer\", \"nullable\": true },\n          \"subscribers\": { \"type\": \"integer\", \"nullable\": true }\n        }\n      },\n\n      \"country\": { \"type\": \"string\", \"nullable\": true },\n      \"timestamp\": { \"type\": \"string\" },\n      \"language\": { \"type\": \"string\", \"nullable\": true },\n\n      \"metrics\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"required\": [\"likes\", \"comments\", \"shares\"],\n        \"properties\": {\n          \"likes\":    { \"type\": \"integer\", \"nullable\": true },\n          \"comments\": { \"type\": \"integer\", \"nullable\": true },\n          \"shares\":   { \"type\": \"integer\", \"nullable\": true }\n        }\n      },\n\n      \"topics\":     { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 30 },\n      \"symptoms\":   { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 20 },\n      \"treatments\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 20 },\n      \"conditions\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 20 },\n      \"companies\":  { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 20 },\n\n      \"engagement_score\": { \"type\": \"number\", \"description\": \"Calculate as: likes + (2 * comments) + (3 * shares)\" },\n      \"engagement_label\": { \"type\": \"string\", \"enum\": [\"low\", \"med\", \"high\"], \"description\": \"high if score >= 20, med if 10-19, low if < 10\" },\n\n      \"key_phrases\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 40, \"description\": \"5-10 medically relevant phrases for word cloud. Categories: symptom+context, treatment+outcome, timing patterns, diagnostic terms, medical conditions. Canonicalized and deduplicated.\" },\n\n      \"bariatric_context\": { \"type\": \"string\", \"enum\": [\"none\", \"weak\", \"strong\"] },\n      \"relevance_label\": { \"type\": \"string\", \"enum\": [\"relevant\", \"borderline\", \"not_relevant\"] },\n      \"relevance_confidence\": { \"type\": \"number\" },\n      \"relevance_reason\": { \"type\": \"string\" },\n\n      \"audience_label\": { \"type\": \"string\", \"enum\": [\"patient\", \"hcp\", \"industry\", \"media\", \"unknown\"] },\n      \"audience_confidence\": { \"type\": \"number\" },\n\n      \"themes\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\"Symptoms\",\"Treatments\",\"Conditions/Diagnosis\",\"Bariatric Surgery\",\"Access & Coverage\",\"Diagnostics\",\"Diet\",\"Care Settings\"]\n        },\n        \"maxItems\": 8\n      },\n\n      \"sentiment_label\": { \"type\": \"string\", \"enum\": [\"positive\",\"neutral\",\"negative\",\"mixed\"] },\n      \"sentiment_confidence\": { \"type\": \"number\" },\n      \"sentiment_raw\": { \"type\": \"string\", \"nullable\": true },\n\n      \"emotions\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\"anger\",\"fear\",\"sadness\",\"joy\",\"frustration\",\"anxiety\",\"hope\",\"relief\"]\n        },\n        \"maxItems\": 8\n      },\n\n      \"intent\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\"seeking_advice\",\"sharing_experience\",\"giving_advice\",\"news\",\"venting\"]\n        },\n        \"maxItems\": 3\n      },\n\n      \"flags\": {\n        \"type\": \"array\",\n        \"items\": {\n          \"type\": \"string\",\n          \"enum\": [\"possible_PBH_misattribution\",\"crisis\",\"adverse_event\"]\n        },\n        \"maxItems\": 5,\n        \"description\": \"adverse_event only if patient reports symptoms CAUSED BY or AFTER TAKING treatment, not for suggested/future treatments\"\n      },\n\n      \"debug_matches\": { \"type\": \"array\", \"items\": { \"type\": \"string\" }, \"maxItems\": 40 }\n    }\n  }\n}\n\nHere is a dictionary:\nPBH SIGNAL DICTIONARY\n==================================================\n\nEntity extraction dictionary for SIGNAL platform enrichment.\nFormat: CATEGORY > LABEL > VARIATIONS | EXCLUDE_TERMS\n\n==================================================\n\n[CATEGORY: AUDIENCE_ANCHOR]\n----------------------------------------\n\nENTRY: audience_anchor_patient_anchor_001\nCategory: audience_anchor\nLabel: patient_anchor\nVariations: i have | my symptoms | i'm having | since my surgery | after my bypass | my sleeve | post-op i | \n  dx'd with | diagnosed with | my sugar crashes | ever since surgery | anyone else have? | \n  after eating i | had my | my doctor told me | dealing with\nNote: Patient voice indicator; technically different than in FETCH RULES; we can discuss if there is confusion\n\nENTRY: audience_anchor_hcp_anchor_002\nCategory: audience_anchor\nLabel: hcp_anchor\nVariations: my patient | in clinic | we see patients | presented with | we diagnose | in practice | \n  our bariatric program | case of | we follow patients | managed a patient | treated with | \n  our clinic | seeing cases | clinical experience\nNote: HCP voice indicator; technically different than in FETCH RULES; we can discuss if there is confusion\n\n\n[CATEGORY: COMPANIES]\n----------------------------------------\n\nENTRY: companies_Amylyx_003\nCategory: companies\nLabel: Amylyx\nVariations: Amylyx | amylyx pharma | amylyx pharmaceuticals | amylix\nNote: Client company\n\nENTRY: companies_Novo_Nordisk_004\nCategory: companies\nLabel: Novo_Nordisk\nVariations: Novo Nordisk | novo | novo nordic | maker of ozempic\nExclude: novo restaurant\nNote: Major competitor\n\nENTRY: companies_Eli_Lilly_005\nCategory: companies\nLabel: Eli_Lilly\nVariations: Eli Lilly | lilly | LLY | lilly pharma\nExclude: lilly flower | lilly pad\nNote: GLP-1 manufacturer\n\nENTRY: companies_AstraZeneca_006\nCategory: companies\nLabel: AstraZeneca\nVariations: AstraZeneca | AZ | astra zeneca\nExclude: Arizona | az\nNote: Pharma competitor\n\nENTRY: companies_Boehringer_Ingelheim_007\nCategory: companies\nLabel: Boehringer_Ingelheim\nVariations: Boehringer Ingelheim | BI | boehringer\nNote: Pharma competitor\n\n\n[CATEGORY: CONDITIONS]\n----------------------------------------\n\nENTRY: conditions_PBH_008\nCategory: conditions\nLabel: PBH\nVariations: post-bariatric hypoglycemia | post bariatric hypoglycemia | PBH | postbariatric hypoglycemia | post-prandial hypoglycemia after surgery\nNote: Canonical PBH mention\n\nENTRY: conditions_reactive_hypoglycemia_009\nCategory: conditions\nLabel: reactive_hypoglycemia\nVariations: reactive hypoglycemia | postprandial hypoglycemia | RH\nExclude: type 1 | T1D\nNote: Likely PBH misattribution when in bariatric context\n\nENTRY: conditions_hypoglycemia_010\nCategory: conditions\nLabel: hypoglycemia\nVariations: hypoglycemia | low blood sugar | sugar crash | glucose crash\nExclude: type 1 | T1D\nNote: Generic hypo in bariatric context → possible PBH\n\nENTRY: conditions_late_dumping_011\nCategory: conditions\nLabel: late_dumping\nVariations: late dumping | late dumping syndrome | delayed dumping | postprandial dumping\nExclude: garbage dumping | trash dumping | dumping boyfriend | dumping stock\n\nENTRY: conditions_idiopathic_postprandial_syndrome_012\nCategory: conditions\nLabel: idiopathic_postprandial_syndrome\nVariations: idiopathic_postprandial_syndrome | IPS\n\n\n[CATEGORY: SYMPTOMS]\n----------------------------------------\n\nENTRY: symptoms_shakiness_013\nCategory: symptoms\nLabel: shakiness\nVariations: shaky | shaking | tremors | trembling | jittery | jitters | hands shaking | unsteady | wobbly | hands trembling | feeling shaky\nExclude: protein shake | milkshake | earthquake\nNote: Most common PBH symptom\n\nENTRY: symptoms_dizziness_014\nCategory: symptoms\nLabel: dizziness\nVariations: dizzy | lightheaded | light-headed | vertigo | woozy | spinning | off balance | unsteady\nExclude: dizzy with excitement\nNote: Common symptom\n\nENTRY: symptoms_sweating_015\nCategory: symptoms\nLabel: sweating\nVariations: sweaty | perspiration | clammy | cold sweats | diaphoretic | soaking sweat\nExclude: sweaty palms (nervousness)\nNote: Physical symptom\n\nENTRY: symptoms_hypoglycemia_016\nCategory: symptoms\nLabel: hypoglycemia\nVariations: low blood sugar | sugar crash | glucose drop | hypo | going low | sugar low | lows in the 50s | lows in the 60s | glucose plummeted | BG dropped | blood sugar tanked\nExclude: hypoglycemic medication\nNote: Core condition symptom\n\nENTRY: symptoms_brain_fog_017\nCategory: symptoms\nLabel: brain_fog\nVariations: mental fog | foggy | confused | confusion | can't think | forgetful | spaced out | zoned out\nExclude: confused about directions\nNote: Cognitive symptom\n\nENTRY: symptoms_tachycardia_018\nCategory: symptoms\nLabel: tachycardia\nVariations: fast heartbeat | racing heart | heart racing | palpitations | pounding heart\nExclude: race car | racing\nNote: Cardiovascular symptom\n\nENTRY: symptoms_fainting_019\nCategory: symptoms\nLabel: fainting\nVariations: passed out | syncope | blacked out | lost consciousness | fainted | collapsed\nExclude: passed out drunk\nNote: Severe symptom\n\nENTRY: symptoms_nausea_020\nCategory: symptoms\nLabel: nausea\nVariations: nauseous | sick to stomach | queasy | throw up | vomiting | retching\nExclude: morning sickness\nNote: GI symptom\n\nENTRY: symptoms_seizures_021\nCategory: symptoms\nLabel: seizures\nVariations: seizure | convulsions | fit\n\nENTRY: symptoms_vision+changes_022\nCategory: symptoms\nLabel: vision+changes\nVariations: blurred vision | double vision | can’t see properly\n\nENTRY: symptoms_weakness_023\nCategory: symptoms\nLabel: weakness\nVariations: weak | fatigue | tired | exhausted | no energy | lethargic | drained | wiped out | super tired | really weak | feeling weak | totally drained | energy crashes\nExclude: weak signal | weak wifi\nNote: Physical symptom\n\n\n[CATEGORY: TREATMENTS]\n----------------------------------------\n\nENTRY: treatments_avexitide_024\nCategory: treatments\nLabel: avexitide\nVariations: avexitide | exendin(9-39) | exendin 9-39 | exendin-9-39\nNote: Launch drug - PRIMARY\n\nENTRY: treatments_acarbose_025\nCategory: treatments\nLabel: acarbose\nVariations: acarbose | precose | glucobay | acarbase\nNote: First-line competitor\n\nENTRY: treatments_diazoxide_026\nCategory: treatments\nLabel: diazoxide\nVariations: diazoxide | proglycem\nNote: Second-line option\n\nENTRY: treatments_octreotide_027\nCategory: treatments\nLabel: octreotide\nVariations: octreotide | sandostatin | sandostatin LAR | sandostatin injection | sandostatin long-acting\nNote: Third-line option\n\nENTRY: treatments_semaglutide_028\nCategory: treatments\nLabel: semaglutide\nVariations: semaglutide | ozempic | wegovy | wegoivy | ozmpic\nNote: GLP-1 competitor\n\nENTRY: treatments_tirzepatide_029\nCategory: treatments\nLabel: tirzepatide\nVariations: tirzepatide | mounjaro | zepbound | mounjaro injection | tirzep\nNote: Major GLP-1 competitor\n\nENTRY: treatments_dulaglutide_030\nCategory: treatments\nLabel: dulaglutide\nVariations: dulaglutide | trulicity\nNote: GLP-1 competitor\n\nENTRY: treatments_liraglutide_031\nCategory: treatments\nLabel: liraglutide\nVariations: liraglutide | victoza | saxenda\nNote: GLP-1 competitor\n\nENTRY: treatments_exenatide_032\nCategory: treatments\nLabel: exenatide\nVariations: exenatide | byetta | bydureon\n\nENTRY: treatments_sglt2_inhibitors_033\nCategory: treatments\nLabel: sglt2_inhibitors\nVariations: sodium-glucose contransporter-2 | sglt2 | inhibitors | empagliflozin | jardiance | dapagliflozin | farxiga | canagliflozin | invokana\n\n\n[CATEGORY: TOPICS]\n----------------------------------------\n\nENTRY: topics_bariatric_surgery_034\nCategory: topics\nLabel: bariatric_surgery\nVariations: bariatric surgery | weight loss surgery | WLS | metabolic surgery | bariatric operation | \n  weight-loss surgery | gastric bypass | roux-en-y | RNY | Rny | rny | RYGB | roux en y | \n  Roux-en-Y Gastric Bypass | bypass surgery | sleeve | gastrectomy | gastricsleeve | VSG | \n  vertical sleeve | vertical sleeve gastrectomy | mini gastric bypass | one-anastomosis gastric bypass | \n  OAGB | lap band | lapband | gastric band | adjustable gastric band | duodenal switch | DS | \n  biliopancreatic diversion | BPD/DS | SADI | SIPS | single anastomosis duodenal switch\nNote: General bucket for all bariatric surgery mentions; use this rollup for relevance (bariatric_context) and theme mapping\n\nENTRY: topics_dietary_modification_035\nCategory: topics\nLabel: dietary_modification\nVariations: low carb | cut carbs | slow carb | no simple sugars | LC | low glycemic | low sugar | \n  small meals | frequent meals | grazing | 6 small meals | meal timing | eating schedule | \n  diet changes | diet modification | dietary changes | protein first | protein before carbs | \n  protein anchor | start with protein | protein at every meal | fat before carbs | fat first | \n  butter before carbs | peanut butter first | cornstarch | superstarch | uncooked cornstarch | \n  UCAN | slow starch | extended-release starch\nNote: general dietary signals are a topic but can be rolled up to \"treatments\" with cross reference to \"treatment_anchors\"; future state!\n\nENTRY: topics_diagnostics_monitoring_036\nCategory: topics\nLabel: diagnostics_monitoring\nVariations: CGM | continuous glucose monitor | continuous glucose monitoring | glucose sensor | \n  Dexcom | Libre | Freestyle Libre | Libre2 | Libre3 | Guardian | Guardian Connect | \n  oral glucose tolerance test | OGTT | glucose tolerance test | tolerance test | 2 hour glucose test | \n  mixed meal tolerance test | MMTT | meal test | mixed meal test | fingerstick | finger stick | \n  finger prick | glucose meter | glucometer | finger poke | meal challenge | provocation test | glucose challenge\n\nENTRY: topics_patient_support_037\nCategory: topics\nLabel: patient_support\nVariations: support group | patient group | community | forum | Facebook group | online suport group\nExclude: customer support | tech support\nNote: Social connection\n\nENTRY: topics_doctor_visit_038\nCategory: topics\nLabel: doctor_visit\nVariations: saw doctor | appointment | clinic visit | endocrinologist | physician | check-up | doctor's office\nExclude: doctor show\nNote: Healthcare interaction\n\nENTRY: topics_medication_side_effects_039\nCategory: topics\nLabel: medication_side_effects\nVariations: side effects | adverse effects | drug reaction | reaction to treatment\nExclude: side effects (movie)\nNote: Treatment issues\n\nENTRY: topics_surgery_complications_040\nCategory: topics\nLabel: surgery_complications\nVariations: complications | surgical complications | post-op issues | after surgery problems\nNote: Surgery-related issues\n\nENTRY: topics_meal_tolerance_041\nCategory: topics\nLabel: meal_tolerance\nVariations: meal intolerance | food intolerance | can't eat | trouble eating | eating makes me feel sick\nExclude: lactose intolerance\nNote: Eating difficulties\n\nENTRY: topics_weight_regain_042\nCategory: topics\nLabel: weight_regain\nVariations: weight regain | gaining weight back | weight gain after surgery | put weight back on\nExclude: weight gain (general)\nNote: Post-surgery concern\n\nENTRY: topics_financial_burden_043\nCategory: topics\nLabel: financial_burden\nVariations: expensive | can't afford | cost | price | copay | out of pocket | financial stress\nNote: Economic impact\n\nENTRY: topics_clinical_trial_044\nCategory: topics\nLabel: clinical_trial\nVariations: clinical trial | study | research | phase 2 | phase 3 | enrolling | trial participant\nNote: Pipeline tracking\n\nENTRY: topics_dose_adjustment_045\nCategory: topics\nLabel: dose_adjustment\nVariations: dose change | titration | increasing dose | decreasing dose | adjusting | dose reduction\nNote: Treatment optimization\n\nENTRY: topics_treatment_failure_046\nCategory: topics\nLabel: treatment_failure\nVariations: not working | failed | doesn't help | no improvement | stopped working | ineffective treatment\nExclude: work failure | job failure\nNote: Drug ineffectiveness\n\nENTRY: topics_hcp_referral_047\nCategory: topics\nLabel: hcp_referral\nVariations: referred to | seeing specialist | endocrinologist referral | bariatric surgeon | doctor referral\nExclude: referee | referral bonus\nNote: Healthcare navigation\n\nENTRY: topics_quality_of_life_048\nCategory: topics\nLabel: quality_of_life\nVariations: quality of life | life impact | daily activities | normal life | can't live normally | \n  can't work | missed work | work accomodations | driving risk | car accident | unsafe driving | \n  don't feel like myself | depressed | anxious | mental burden | mental health\nExclude: quality control\nNote: Outcome measure\n\nENTRY: topics_medication_adherence_049\nCategory: topics\nLabel: medication_adherence\nVariations: compliance | taking medication | skipping doses | forgot to take | noncompliance | missed dose\nNote: Treatment behavior\n\nENTRY: topics_access_coverage_050\nCategory: topics\nLabel: access_coverage\nVariations: access | coverage | insurance denial | denied by insurance | coverage denied | \n  insurance refusal | denial letter | coverage determination denial | benefit exclusion | not covered | \n  prior auth | PA | pre-auth | authorization required | preauthorization | prec ertification | \n  copay | co-pay | out of pocket | OOP | coinsurance | deductible | step therapy | fail first | \n  step edit | fail-first requirement | appeal | appealed | letter of medical necessity | LMN | \n  insurance appeal | external review\nNote: Rolled up into one topic for MVP\n\nENTRY: topics_care_settings_051\nCategory: topics\nLabel: care_settings\nVariations: endocrinology clinic | endo clinic | endocrinology office | diabetes and endocrine clinic | \n  bariatric clinic | WLS center | bariatric program | metabolic and bariatric surgery center | \n  MBSAQIP-accredited center | primary care clinic | PCP office | family practice | \n  general practitioner office | emergency room | ER | ED | urgent care | nutritionist office | \n  dietitian office | RD clinic | CDE office\nExclude: doc | nutrition (general sense)\nNote: Broad roll-up of settings where PBH is managed for MVP; if we get this right, we can test separating settings",
          "batching": {
            "batchSize": 1
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1760,
        1040
      ],
      "id": "6e1b603b-2fba-4635-b136-579322f766ca",
      "name": "AI Agent1",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "posts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "source",
              "condition": "eq",
              "keyValue": "={{ $json[\"\"].source }}"
            },
            {
              "keyName": "source_id",
              "condition": "eq",
              "keyValue": "={{ $json[\"\"].source_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "topics",
              "fieldValue": "={{ $json[\"\"].topics }}"
            },
            {
              "fieldId": "symptoms",
              "fieldValue": "={{ $json[\"\"].symptoms }}"
            },
            {
              "fieldId": "treatments",
              "fieldValue": "={{ $json[\"\"].treatments }}"
            },
            {
              "fieldId": "conditions",
              "fieldValue": "={{ $json[\"\"].conditions }}"
            },
            {
              "fieldId": "companies",
              "fieldValue": "={{ $json[\"\"].companies }}"
            },
            {
              "fieldId": "key_phrases",
              "fieldValue": "={{ $json[\"\"].key_phrases }}"
            },
            {
              "fieldId": "relevance_label",
              "fieldValue": "={{ $json[\"\"].relevance_label }}"
            },
            {
              "fieldId": "relevance_confidence",
              "fieldValue": "={{ $json[\"\"].relevance_confidence }}"
            },
            {
              "fieldId": "relevance_reason",
              "fieldValue": "={{ $json[\"\"].relevance_reason }}"
            },
            {
              "fieldId": "audience_label",
              "fieldValue": "={{ $json[\"\"].audience_label }}"
            },
            {
              "fieldId": "audience_confidence",
              "fieldValue": "={{ $json[\"\"].audience_confidence }}"
            },
            {
              "fieldId": "themes",
              "fieldValue": "={{ $json[\"\"].themes }}"
            },
            {
              "fieldId": "sentiment_label",
              "fieldValue": "={{ $json[\"\"].sentiment_label }}"
            },
            {
              "fieldId": "emotions",
              "fieldValue": "={{ $json[\"\"].emotions }}"
            },
            {
              "fieldId": "intent",
              "fieldValue": "={{ $json[\"\"].intent }}"
            },
            {
              "fieldId": "flags",
              "fieldValue": "={{ $json[\"\"].flags }}"
            },
            {
              "fieldId": "debug_matches",
              "fieldValue": "={{ $json[\"\"].debug_matches }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2224,
        1248
      ],
      "id": "dd761c79-a58e-4594-941e-18dd0021112e",
      "name": "Update a row1",
      "credentials": {
        "supabaseApi": {
          "id": "knjTeMqMXJXts6eQ",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d6a80f9-e815-42c1-b086-6faa57a20dd4",
              "name": "",
              "value": "={{ JSON.parse($json.output.replace('```json', '').replace(/[\\r\\n]/gm, '').trim().replace('```', '')) }}",
              "type": "array"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        1248
      ],
      "id": "ab36f30c-a963-48f4-8846-b0bbb79359a0",
      "name": "JSON parse chat output1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1552,
        1024
      ],
      "id": "4a3d1b30-e5ea-4621-ad2e-3a9ec1ff188d",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1776,
        896
      ],
      "id": "610aacf2-f635-4db3-86ca-b01b170396f2",
      "name": "Wait1",
      "webhookId": "0384f09c-f9db-4923-9762-a31844121e52"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 3
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -560,
        496
      ],
      "id": "1f4cfe53-6e9f-4170-8da6-9d24ec3c9eac",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        1216
      ],
      "id": "19482d9f-9e40-474f-95bb-696a1e500cc0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "vHOy7LPKrDh5EXF0",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        720
      ],
      "id": "eadf9e98-97ea-49d7-9f4b-b641ba20e410",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "vHOy7LPKrDh5EXF0",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "GET Youscan Topics",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Subreddit Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit OAuth2.0 Authorise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouScan API Call": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPSERT Authors": {
      "main": [
        [
          {
            "node": "Add Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "UPSERT Authors1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Youscan Topics": {
      "main": [
        [
          {
            "node": "Split Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Subreddit Sources": {
      "main": [
        [
          {
            "node": "Split Out Subreddits",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reddit Posts": {
      "main": [
        [
          {
            "node": "Split Out3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reddit OAuth2.0 Authorise": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Get Reddit Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out3": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "UPSERT Authors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Topics": {
      "main": [
        [
          {
            "node": "YouScan API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Subreddits": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Post": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "JSON parse chat output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON parse chat output": {
      "main": [
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Post1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UPSERT Authors1": {
      "main": [
        [
          {
            "node": "Add Post1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "JSON parse chat output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON parse chat output1": {
      "main": [
        [
          {
            "node": "Update a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET Youscan Topics",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET Subreddit Sources",
            "type": "main",
            "index": 0
          },
          {
            "node": "Reddit OAuth2.0 Authorise",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6581e9ca-02d1-496d-989e-92435d71d7c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "06395ec81ea8925bdd01573751fe3b7f9799e5362bd4c1569bc3817c14b4b06a"
  },
  "id": "Osu95Cbd2GWLNZ9j",
  "tags": []
}